[2014-01-08 03:59] poeticninja opened #1 "gulp-nodemon turns the server off on file changes"
First of all, thanks for writing this module. I was excited to see it. I am having some trouble though.

I am wanting to run a task that will run nodemon if changes are made and then do something else like live reload. I havent started working on the live reload part because I am stuck at the code below,

[code]

When I run `gulp nodemon` the server starts up but any changes to .js files and it ex

[2014-01-08 04:55] #1 closed, assigned to nobody

[2014-01-08 05:07] yocontra opened #2 "Name change"
I think somebody else is going to want to use this as a wrapper for nodemon

[2014-01-08 08:07] #2 closed, assigned to nobody

[2014-01-08 14:43] poeticninja opened #3 "Pass in config settings?"
I am needing to watch more than one file type, javascript and template files, and then I want to reload the server. It would be nice to be able to pass in arguments.

Unless you suggest another way that I am not thinking of yet.

[2014-01-10 13:37] mikemaccana opened #4 "Add an example for restarting the server when monitoring multiple files?"
Awesome plugin! I would like to restart the server when multiple files change. So far I have:

[code]

and

[code]

But it doesn't seem to be shutting down the old server first. I suspect I'm doing something incorrectly, but not sure what - any chance you could please help me out?

[2014-01-12 22:58] #3 closed, assigned to nobody

[2014-01-12 22:58] #4 closed, assigned to nobody

[2014-01-16 14:51] ryexley opened #6 "Running more than one instance?"
Is it possible to configure this to run/monitor more than one app per build script??

I have an app in which I have an API and a sample client app, and I would like to be able to launch, monitor and restart both of these apps on change with my gulp script. As it is now, when I add two instances as below, seems like only the second one ever gets logged to the terminal console as having been started

[2014-01-17 03:47] alexgorbatchev opened #8 "npm publish"
Please publish latest, currently `options` is required.

[2014-01-18 14:36] pgilad opened #9 "Not supplying a string for options crashes process"
tried running with:

[code]

crashes app with

[code]

Also, same happens if you pass anything but a `string` for options.
plugin needs to handle those cases

[2014-01-22 05:58] #8 closed, assigned to nobody

[2014-01-22 05:58] #9 closed, assigned to nobody

[2014-02-04 14:09] krzychukula opened #11 "express server not restarting"
Please look into restarting real server (eg. express) because for me i got:

[code]

[2014-02-05 14:11] #11 closed, assigned to nobody

[2014-02-08 05:20] blunckr opened #12 "Coffeescript support?"
Nodemon supports coffeescript files natively, but when I try to use them with gulp-nodemon like this:

[code]

 I get funny output:

[code]

any plans to add coffeescript support?

[2014-02-08 05:34] kevinSuttle opened #13 "Console output?"
Perhaps related to https://github.com/JacksonGariety/gulp-nodemon/issues/6, but if I put something like a simple `console.log` in my app.js, it will only output if running `node` or `nodemon` directly, not `gulp` or `gulp nodemon`.

https://gist.github.com/kevinSuttle/8877120

[2014-02-11 19:12] #13 closed, assigned to ColemanGariety

[2014-02-12 12:47] kibin opened #14 "Harmony flag?"
Is there a way to start my node application with `--harmony` flag?

[2014-02-18 00:04] dougnukem opened #15 "nodemon is calling all gulp tasks on restart"
I'm trying to listen to the on('restart') event of nodemon and have it run a specific gulp task, but it seems to be running ALL the gulp tasks.

I'm running node 0.10.25, gulp 3.5.2, and gulp-nodemon 0.1.2.

For example with this gulp file:

[code]

When I run `gulp develop` and then modify a file or type "rs" to force a restart I see the following:

[code]

I've also tried specifying it like this

[2014-02-20 02:14] haoxins opened #16 "when gulp-nodemon crashed, the node process still live"

[2014-02-21 06:11] #12 closed, assigned to nobody

[2014-02-21 06:11] #14 closed, assigned to nobody

[2014-02-21 06:11] #15 closed, assigned to nobody

[2014-02-21 06:11] #16 closed, assigned to nobody

[2014-02-21 06:35] ColemanGariety opened #17 "gulp.run() deprecation"
Eventually, `gulp.run()` will go away, so an alternative method for running tasks manually will be needed, unless there's a better way coming.

[2014-02-28 15:27] individual11 opened #18 "Double parens in README"
For the link to the nodemon config, you have double parens and it's making the link unclickable.

[2014-03-04 09:18] #18 closed, assigned to nobody

[2014-03-04 09:25] ColemanGariety opened #19 "Emit clean exit on PluginErrors"
Let's say you're linting your code on nodemon restart:

[code]

And your lint task throws a `PluginError` when linting fails:

[code]

The entire process will exit, whereas only the nodemon instance should truly exit.

[2014-03-09 19:57] #17 closed, assigned to nobody

[2014-03-09 19:57] #19 closed, assigned to ColemanGariety

[2014-03-15 23:56] JacksonGariety opened #20 "Wait for 'change' event to finish before restarting"
Right now the change even has a problem. It'll run your tasks, but if they don't finish before nodemon kills and restarts the server, the changes won't be reflected in the app. Nodemon needs support for this, as I'm not sure it's possible.

The nodemon solution is to use `exec`, but the only last step towards JS build system bliss is keeping all of your tasks in one process, and exec creates child

[2014-03-25 18:57] leore opened #23 "JShint and Nodemon"
I am trying to get JShint and Nodemon working together in way where if JShint fails...then the nodemon server does NOT restart. Is this currently possible with gulp-nodemon?

[2014-04-01 06:00] gmoulin opened #24 "ignore files not ignored"
Hi,
I managed to get nodemon running but the ignore file option is not taken into account.

[code]

I want the server to reload on javascript files change in "server/" folder and "server.js" main file.
Problem is when I save "gulpfile.js" or any other js file nodemon restart.

[2014-04-03 23:08] #23 closed, assigned to nobody

[2014-04-22 05:01] H23120 opened #25 "How to set nodemon cli config option '-L' to gulp-nodemon?"
Hi,
I tried to set nodemon -L (--legacy-watch) option as a nodemon config for gulp-nodemon as adding it with null string value in the following but it did not work. Can anyone help? (I also post the same question on stackoverflow http://stackoverflow.com/questions/23202953/how-to-set-nodemon-cli-config-option-l-to-gulp-nodemon)

[code]

[2014-05-07 19:46] jhartman86 opened #26 "Conflict w/ Gulp's Default Watch"
Running into an issue where gulp watch (built-in version, not npm's gulp-watch) won't work in tandem with gulp-nodemon. Neither tasks fail outright (and gulp-nodemon actually does restart the server OK), but gulp watch won't write file changes.

Post on stack overflow looking for help as well: http://stackoverflow.com/questions/23506545/gulp-watch-and-nodemon-conflict. (Explained with code sample

[2014-05-20 16:27] mikemaccana opened #28 "gulp.run() deprecation warning"
A very basic gulpfile, only running gulp-nodemon, still causes the following warning:

`gulp.run() has been deprecated. Use task dependencies or gulp.watch task triggering instead.`

Sample gulpfile:

[code]

Is there any way to fix this?

[2014-05-31 04:37] generalov opened #29 "Running non-node scripts"
nodemon can also be used to execute and monitor other programs. For example:

    nodemon --exec "python -v" ./app.py

I want to run my python backend with gulp:

    gulp.task('backend', function() {
        nodemon({
            exec: 'python application.py --port=8000',
            watch: ['**/*.py', 'templates/**/*.html'],
            ext: 'py html',
        });
    });

But gulp crashed. Ther

[2014-06-03 07:29] binarykitchen opened #30 "Unhandled 'error' event"
Sometimes I get weird error messages like these:

[code]

this is my gulp code:

[code]

This weird error only happens when I link the stdout/stdin from nodemon to bunyan.

Any clues?

[2014-06-04 21:35] #30 closed, assigned to nobody

[2014-06-10 07:31] krry opened #32 "Important to ignore node_modules/**/*.js"
By forming my gulp task very similar to the README's examples, I received a warning that nodemon was watching upwards of 25,000 files.

Here was my gulp task:

[code]

And adding the `ignore` stopped the warning:

[code]

Still, I'm not sure that nodemon isn't still watching all of the other JS files in child directories of the folder `app.js` lives in.  It was digging into my node_modules after a

[2014-06-13 22:30] #32 closed, assigned to nobody

[2014-06-23 06:05] binarykitchen opened #33 "Need to hit CTRL-C twice to abort it when it has restarted before"
Yeah, this is weird. When no file has changed, I can cancel gulp with once CTRL-C.

But when nodemon has restarted due to a file change, then I have to hit CTRL-C twice to cancel gulp.

Something does not look right here ...

[2014-06-26 00:20] PrototypeAlex opened #34 "nodeArgs --use-strict with app.coffee pass through to coffee not node"
Trying to parse and application written in coffe `app.coffee` and giving the nodeArgs `--use-strict` doesn't work as the nodeArgs are being passed to the coffee binary rather than node.

[code]

[code]

[2014-06-28 08:18] #34 closed, assigned to nobody

[2014-07-05 12:57] muhammad-saleh opened #35 "Watcher close error"
Dears,
I was playing with Gulp and your module and I'm having an issue that my server starts up normally but when any change happens and the server tries to restart I get this error

E:\Projects\OrbitReaderNode

E:\Projects\OrbitReaderNode\node_modules\gulp-nodemon\node_modules\nodemon\lib\monitor\watch.js:27
    watcher.close();
            ^
TypeError: Object #<StatWatcher> has no method 'close'

[2014-07-05 13:09] #35 closed, assigned to nobody

[2014-08-01 15:45] cloud-walker opened #37 "gulp-notify the nodemon crashes"
What if I wish to notify the crashes of my nodemon process?

I've tried different solutions but nothing seems to work for me...

[2014-08-03 16:01] ericeslinger opened #38 "cwd option sets the process working directory"
I don't know if this is intended behavior or not, but I observed this behavior:

    gulp.task 'backend:serve', ['backend:build', 'backend:copy'],  ->
      plugins.nodemon
        cwd: config.paths.backendBuild
        script: "server.js"

would set my process-wide CWD to the backendBuild location. This caused other issues in my build - any created gulp.src streams that happened afterwards would

[2014-08-05 22:35] JonathanDaSilva opened #39 "Incredibre drop of performance on other task"
Hi.
After a long research I have found that your plugin make all my gulp tasks slow.
I have a tasks who launch all my developpment tools, when gulp-nodemon is in this task, gulp.src start to becoming realy slow and all my task take between 5 seconds (one file) to 1minute (~40files) instead of 400ms and 1sec approximatly.

I have change for the official repo of nodemon, and I haven't the problem.

[2014-08-06 10:26] #39 closed, assigned to nobody

[2014-08-19 17:30] vonKristoff opened #40 "Anyway around a setTimeout to reload the server, then the browser."
As stated, I want my browser to refresh (using gulp-livereload) _after_ the server has been restarted by nodemon - and the only way I have managed it is with a _dirty_ `setTimeout`.

[code]

[2014-10-07 22:16] gianu opened #43 "emit or send nodemon events"
Is there a way to emit or send nodemon events?

Right now I'm on this situation:

I'm running some test that depends on the node server, so what I'm doing is:

[code]

without a way to emit the event, what I'm doing right now is wait until the test run and hitting Ctrl+C, which is not the more friendly way of doing this.

Maybe my approach is wrong, if not, is there a way to emit or send the 'quit

[2014-10-08 18:35] #43 closed, assigned to nobody

[2014-10-09 21:05] #40 closed, assigned to nobody

[2014-10-09 21:07] #28 closed, assigned to nobody

[2014-10-09 21:07] #25 closed, assigned to nobody

[2014-12-12 02:12] ilanbiala opened #46 "Gulp 4.0 development"
Can a branch be started for gulp-nodemon's new code compatible with Gulp 4.0?

[2014-12-12 13:59] ilanbiala opened #47 "Doesn't ignore node-modules"
Gulp-nodemon doesn't ignore `node_modules/` by default anymore. I had to add it to the `ignore: []` to ignore the 25,000 files there...

[2015-01-02 19:51] ilanbiala opened #48 "Error with strict mode"
Strict mode error, not sure if it is definitely from here, but the first couple references are.

[code]

[2015-01-05 22:19] jedverity opened #49 "nodemon 1.3.x breaks gulp-nodemon"
I specify an option like so:

    script: './server/server.js'

nodemon looks to my package.json `scripts.start` property, which has `gulp` specified, and then tries to run `gulp ./server/server.js`.

Removing scripts.start from package.json solves the problem, but I don't want to do that. How can I remedy this?

It works fine with nodemon 1.2.x.

[2015-01-06 15:26] jedverity commented on #49
See here for reference: https://github.com/remy/nodemon/commit/b70b81612c403a6d92ad262ac9298c459405579c

So not just 1.3.x, but latest.

[2015-01-06 15:43] jedverity commented on #49
also for reference: https://github.com/remy/nodemon/issues/439

so seems best to revert your nodemon dependency to 1.2.1 for now.

[2015-01-06 16:52] remy commented on #49
nodemon 1.3.0-x isn't not stable yet. It's also not marked as latest, it it automatically upgrading?

[2015-01-06 16:58] jedverity commented on #49
Ah yes I saw that in the other referenced comment. It is indeed
automatically upgrading to 1.3.0-6.

On Tue, Jan 6, 2015 at 11:52 AM, Remy Sharp <notifications@github.com>
wrote:

[2015-01-07 04:05] ilanbiala commented on #48
@JacksonGariety any ideas?

[2015-01-07 04:14] JacksonGariety commented on #48
@ilanbiala i'm working on a new version for gulp 4 compatibility. I'll include this. You may help by refactoring the `.call()` and submitting a pull

[2015-01-07 04:19] ilanbiala commented on #48
@JacksonGariety can you link us to the version that is currently in development?

[2015-01-07 04:30] JacksonGariety commented on #48
I'll push it tonight and post here.

[2015-01-07 20:09] JacksonGariety commented on #49
Hmmmm I can't reproduce this error. Was it fixed on 1.3.0-7?

[2015-01-07 20:10] JacksonGariety commented on #48
@ilanbiala I can't reproduce this in latest. The error is coming from nodemon so I have a feeling it was fixed somewhere in the 1.3.0 update. The next gulp-nodemon version will use it.

[2015-01-07 20:11] #37 closed

[2015-01-07 20:17] JacksonGariety commented on #47
@ilanbiala could you post your Gulpfile for reference?

[2015-01-07 20:21] JacksonGariety commented on #38
@ericeslinger gulp-nodemon keeps the development cycle all under one process. This means that, yes, changing the gulp-nodemon cwd will set the starting cwd for your app. using `watch:` and `script:` is the standard in this case.

[2015-01-07 20:21] #38 closed

[2015-01-07 20:24] JacksonGariety commented on #6
@remy any updated on this in nodemon 1.3.0? I'm getting ready to publish a new version of gulp-nodemon to npm.

[2015-01-07 20:33] JacksonGariety commented on #26
@lzrski this is a nodemon issue I'm hoping is fixed in 1.3.0

@ghidello you can do what you're doing entirely within gulp-nodemon if you wish. From what I can see it should be as simple as appending an `.on('change', ['scripts'])` to the gulp-nodemon call. It's explained well in OP's SO question: http://stackoverflow.com/questions/23506545/gulp-watch-and-nodemon-conflict

@jhartman86 looks like th

[2015-01-07 20:33] #26 closed

[2015-01-07 20:34] JacksonGariety commented on #33
@binarykitchen I can no longer repro this; maybe it was fixed in a pull or with an update to nodemon? I'll leave this open for a bit so see if anyone is still seeing it.

[2015-01-07 20:40] JacksonGariety commented on #46
@ilanbiala is there a list of changes to Gulp 4 up yet?

[2015-01-07 20:45] ilanbiala commented on #46
Change log in 4.0 branch.

[2015-01-07 20:59] JacksonGariety commented on #46
@ilanbiala it just references a new "bach" task system. There's not really any indication as to wether `gulp.start` still exists or not. I'll have to pull it later today and try it out.

[2015-01-08 21:17] remy commented on #6
@JacksonGariety I'm still working on it, it's collected a lot of bug fixes and a few features, but the issue I'm now trying to resolve is getting all the tests to pass :-\ funsies.

[2015-01-08 21:21] JacksonGariety commented on #6
@remy need any help? I don't start school for three weeks so I've got a bit of free time on my hands.

[2015-01-09 04:50] binarykitchen opened #50 "How to emit event back to the child process?"
Is there a chance I can emit something back to the child from a gulp task?

[2015-01-09 15:08] davisford commented on #49
Just a me too.  `gulp-nodemon@1.0.5` fails my build with:

[code]

Whereas, when I roll back to `1.0.4` all is well:

[code]

This is the task in question that I'm running for nodemon:

[code]

[2015-01-10 10:12] bsiddiqui opened #51 "Errors when adding tasks"
When I add tasks to listeners I get an error:
`TypeError: listener must be a function`

This works:
[code]

This does not:
[code]

[2015-01-10 19:03] ilanbiala commented on #47
[code]

[2015-01-10 19:06] ilanbiala commented on #46
@JacksonGariety you can search the code.

[2015-01-15 00:51] nmccready commented on #49
Ditto this is putting us in a gulp loop

[2015-01-15 00:57] nmccready opened #52 "no git tags for 1.0.4 and 1.0.5"
please add them as this is making it hard to debug

[2015-01-15 14:36] callumacrae opened #53 "What does this do?"
I just don't get it. What does gulp-nodemon do that nodemon doesn't do itself?

https://github.com/remy/nodemon/blob/master/doc/requireable.md

[2015-01-19 20:22] devourment77 commented on #49
Same thing is happening to me.   I only ran an NPM update (and it seemed to work fine with nodemon 1.2.1).

        ip-192-168-1-42: brandon$ gulp
        [14:20:57] Using gulpfile ~/git/dev/gulpFile.js
        [14:20:57] Starting 'loadConfig'...
        NODE_ENV is not defined! Using default development environment
        [14:20:57] Finished 'loadConfig' after 4.41 ms
        [14:20:57] Starting

[2015-01-19 22:12] remy commented on #49
1.3.1 is now published. Hopefully it doesn't screw anything up for you folk?! :)

[2015-01-19 22:23] JacksonGariety commented on #49
@devourment77 could you debug that `Task 'server.js' is not in your gulpfile` warning to make sure that's not crashing it? I can't reproduce for some reason. Maybe I have an old nodemon version or something.

[2015-01-19 22:31] JacksonGariety commented on #49
@devourment77 @remy still can't reproduce this on my end. I get:

    [gulp] [nodemon] v1.3.1
    [gulp] [nodemon] to restart at any time, enter `rs`
    [gulp] [nodemon] ignoring: /Users/Jackson/Sites/gulp-nodemon/.git/**/* /Users/Jackson/Sites/gulp-nodemon/node_modules/**/* bower_components .sass-cache
    [gulp] [nodemon] watching: /Users/Jackson/Sites/gulp-nodemon/**/*
    [gulp] [nodemon] wat

[2015-01-19 22:44] JacksonGariety commented on #53
From the readme: _"A gulp-friendly nodemon wrapper that restarts your app as you develop, and keeps your build system *contained to one process*."_

[2015-01-19 22:45] devourment77 commented on #49
Here's my gulpFile.js and package.json snippet...  I normally just go to my git repo and type "gulp" and it loads my default.  Oddly, when I remove "start": "gulp" from my scripts in package.json, it seems to work with 1.0.5, but I have no idea why.  Also downgrading to gulp-nodemon 1.0.4 seems to also fix the issue (while letting me keep the line in my package.json).

PACKAGE.JSON

            "s

[2015-01-19 22:48] #53 closed

[2015-01-19 23:22] JacksonGariety commented on #49
@devourment77 @remy so this problem is [within nodemon's `exec.js` file on this line](https://github.com/remy/nodemon/blob/master/lib/config/exec.js#L135).

Nodemon `1.3.x` instead of defaulting to `"node"` uses the primary executable command which, for gulp users, would simply be `gulp` thus causing a loop.

## Temporary Fix
add `exec: 'node'` to your `gulp-nodemon` config to temporarily fix the

[2015-01-19 23:30] OscarGodson commented on #49
@JacksonGariety they use nodemon to restart other other processes like python or io.js

[2015-01-19 23:38] JacksonGariety commented on #52
Tagged. Thanks for lettin' me know

[2015-01-19 23:38] #52 closed

[2015-01-19 23:41] JacksonGariety commented on #51
@bsiddiqui this may just be my misunderstanding node event listeners, but shouldn't the function be the second element in the array? Like this:

    .on('change', ['lint', function () {}])

If it's node standards to `.slice` off the first arg and `.join` the rest recursively I can do that pretty easily. Did a quick search but couldn't find an example of this.

[2015-01-19 23:42] nmccready commented on #52
np, ty

[2015-01-19 23:44] JacksonGariety commented on #51
@bsiddiqui this doesn't seem to be node standard to I'll close this.

[2015-01-19 23:44] #51 closed

[2015-01-20 00:35] JacksonGariety commented on #49
@OscarGodson that's what the `--exec` arg is for, right? no need to default away from node I mean that won't make it more convenient, right?

[2015-01-20 01:18] jedverity commented on #49
I still have the same issue, unfortunately. Adding `exec: node` to nodemon options in `gulpfile.js` runs `gulp node server/server.js`, pulling `gulp` from `scripts.start` in package.json.

I forked gulp-nodemon and set the nodemon dependency to 1.2.1 and it works as expected.

[2015-01-20 03:18] neagle commented on #49
@jedverity Thanks for forking `gulp-nodemon`: I went ahead and used your fork to solve my identical problem, for the moment. @JacksonGariety's solution didn't work for me, either.

[2015-01-20 03:38] ilanbiala commented on #46
@JacksonGariety can you upload your Gulp 4.0 development branch?

[2015-01-20 04:25] JacksonGariety commented on #49
@remy could you take a look at @jedverity's comment? Thanks.

[2015-01-20 06:57] remy commented on #49
So, you looked at the [blame and commit](https://github.com/remy/nodemon/commit/66e71d6b6406a679ce257da03fde887e970824d3) log right? There's your answer initially (as to why `exec.found` is used).

nodemon doesn't default to nothing and does not require that `exec="node"` be used. Certainly I used nodemon every day and I don't have to do this (and I don't use an execMap).

So, the bigger question

[2015-01-20 07:04] remy commented on #49
To add...if you folk are using package.start and point to `gulp`, and *nothing* else, then is going to use the package.start to run the code. This was always intended functionality. I think the issue lies around this code, but until I can replicate, then I can't dig in.

Of course, if anyone else wants to have a go too, that would be extremely useful.

[2015-01-20 07:05] remy commented on #50
I don't use gulp, so I don't know. Give me some example, *keep it simple* and I might be able to tell you.

[2015-01-20 07:06] remy commented on #50
(deleted my comment, I thought I was on the nodemon repo!! :)

[2015-01-20 08:08] OscarGodson commented on #49
FWIW I've been using vanilla nodemon without setting a default process or anything.

[2015-01-20 08:28] JacksonGariety commented on #49
@remy Thanks for taking the time to respond. I really enjoy these tools and am happy to work on them.

I can reproduce this issue using only `nodemon 1.3.1` itself. At least, I believe that it's the same issue; it may simply be a similar one.

Here's how I produced it:

1. `npm install nodemon`
2. `touch start_nodemon.js package.json`
3. put this in _package.json_: `{ "scripts": { "start": "foo" }

[2015-01-20 11:01] remy commented on #49
Perfect, the passed in script should take precedence over `package.start`. I'll start a PR.

[2015-01-20 13:55] devourment77 commented on #49
For now, I'll just remove the start: gulp line from my package.json scripts (as that seems to be working) and I'll add it back once the PR is live.

Thank you all!
Brandon

[2015-01-20 14:10] remy commented on #49
PR in progress...

[2015-01-20 14:38] remy commented on #49
:ship:'d :point_left: live in 1.3.2.

[2015-01-20 15:14] jedverity commented on #49
Works like a dream, thx @remy (and all who helped track it down)!

[2015-01-20 15:14] #49 closed

[2015-01-20 15:22] JacksonGariety commented on #49
thank you @remy

[2015-01-21 06:16] bsiddiqui commented on #51
@JacksonGariety yeah that makes sense. I was writing in the style that gulp defines task dependencies (see how start task has dependencies of `style` and `lint` and then defines function that's executed) instead of how node does event listeners.

[2015-01-21 21:43] ilanbiala commented on #48
@JacksonGariety still getting this error with the latest version `~1.0.4`.
[code]

[2015-01-22 12:30] Beanow opened #54 "The rs command sometimes causes a pipe error."
When repeatedly issuing `rs` command using stdin, in some random occasions there seems to be a race condition that crashes the gulp task.

[code]

[2015-01-29 01:28] morenoh149 opened #55 "What triggers the `restart` event?"
My gulp task is launches a browser window properly. But then I notice it restarts a couple of seconds in.
What triggers nodemon's `restart` event? It seems like `.emit('restart')` and if there is a change to a watched file. Just want more details on how this works.

[code]

[2015-01-31 15:54] ilanbiala commented on #47
@JacksonGariety do you know what the issue is?

[2015-01-31 15:55] ilanbiala commented on #46
@JacksonGariety what's the status on gulp-nodemon for 4.0?

[2015-01-31 23:18] Naatan opened #56 "Support running tasks based on which files changed"
My primary use right now is to have it rebuild scss and uglify js files, but when I modify a JS file I dont need it to rebuild my SCSS. It'd be great if I were able to have it run tasks based on the files that were modified.

[2015-02-03 08:58] icebob opened #57 "Please update nodemon to v1.3.6"
Because nodemon v1.3.2 caused high cpu usage on Windows

[2015-02-03 09:10] icebob commented on #57
Sry, v1.3.6 doesn't solve this problem. it caused the --ignore parameter in nodemon

[2015-02-03 09:10] #57 closed

[2015-02-04 20:01] gtanner opened #58 "the exec prop shouldn't assume gulp"
this line: https://github.com/JacksonGariety/gulp-nodemon/blob/master/index.js#L10

breaks the ability to use this for non-node scripts: https://github.com/remy/nodemon#running-non-node-scripts

[2015-02-06 18:38] paislee commented on #56
+1

[2015-02-12 16:03] mikemaccana opened #59 "Watch option doesn't seem to do anything when files change"
On the command line, running:

    nodemon bin/www --ext md --verbose --watch blog

Works fine - changing any file in /blog/*.md will make nodemon reload.

Using gulp-modemon, however:

    nodemon({ script: 'bin/www', options: '--ext md --verbose --watch blog' })

Changing any file in /blog/*.md doesn't restart nodemon.

Also should I be using gulp.watch() to trigger nodemon, like other tools? I

[2015-02-13 23:15] kurdin commented on #58
+1

[2015-02-15 10:09] blacksonic commented on #59
Same here.

[2015-02-15 20:06] ilanbiala commented on #48
@JacksonGariety still getting this error, what's going on...?

[2015-02-16 01:14] JacksonGariety commented on #48
@ilanbiala can you give me steps to reproduce it please? Anything specific in your project that may be causing the issue?

[2015-02-17 10:41] NetanelBasal opened #60 "Add path to watch"
I am looking for a way to watch only the root directory and not the root of where the gulpfile is. for example in my case the gulp is inside public folder so i want the nodemon to watch on the root where is the server files.

[2015-02-21 21:39] BenjaminVerble commented on #47
I'm not able to ignore node_modules explicitly. Using io.js.
[code]

[2015-02-22 18:35] rioc0719 commented on #58
This also breaks the ability to use this along with node-inspector.

[2015-02-25 20:10] zwhitchcox opened #61 "How do I restart nodemon?"
I want nodemon to restart whenever a certain file is changed. This is my (relevant) code:

[code]

[2015-02-25 20:31] zwhitchcox commented on #61
Never mind

I just needed to add coffee to the ext, which is why it wasn't reloading automatically:

gulp.task('develop', ['env:develop'], function () {
  // this is just a reference to nodemon, which is contained in the plugins object, I think
  plugins.nodemon({
    script: 'server.js',
    ext: 'html js coffee',
    env: { 'NODE_ENV': 'development' } ,
    ignore: ['./node_modules/**'],
    nod

[2015-02-25 20:31] #61 closed

[2015-03-07 20:20] jvgreenaway commented on #58
+1

[2015-03-11 02:18] redism commented on #6
Any update on this issue?

[2015-03-15 20:00] blacksonic opened #62 "Is it possible to skip require gulp?"
We are making a plugin that gathers some gulp tasks for a boilerplate application. This package doesnt include gulp, just exports gulp tasks. Everything works fine, it only breaks when i develop it locally and use ```npm link```. Im talking about this [gulp task collection](https://github.com/emartech/boar-tasks).
I get the following error:
[code]
It is caoused by the ```require('gulp')``` line. I

[2015-03-15 20:05] blacksonic commented on #62
Found at some hours that the problem comes that is in the development dependencies, even though it is used NOT in the tests

[2015-03-15 20:11] blacksonic commented on #62
Created a pull request for the issue #63

[2015-03-16 16:12] iksose commented on #20
:+1:

[2015-03-18 16:42] jasonmerino commented on #56
+1

[2015-03-19 05:08] #62 closed

[2015-03-19 05:09] JacksonGariety commented on #60
@NetanelBasal linked from the readme: https://github.com/remy/nodemon#config-files

[2015-03-19 05:09] #60 closed

[2015-03-19 05:12] JacksonGariety commented on #59
@mikemaccana I'm not sure where you're seeing this `options:` property in either gulp-nodemon or nodemon config. Try using the options individually (i.e `{ext: 'md'}`).

[2015-03-19 05:17] JacksonGariety commented on #58
@gtanner my original intention was to focus all the "executions" around the gulpfile. If you wanted to run a non-node script, you'd use `child_process.exec` within a gulp task.

If I am correct it doesn't "break" the ability, it simply forces you to do it via Gulp. This makes sense to me because if I want to build a project with Gulp, I'll use _only_ gulp so all my tasks begin with `gulp `.

I'd b

[2015-03-19 05:50] JacksonGariety commented on #56
You should be able to do this pretty easily:

      .on('restart', function (files) {
        var runJS = false
          , runCSS = false

        files.forEach(function (file) {
          switch (path.extname(file)) {
            case '.js':
              runJS = true
              break
            case '.css':
              runCSS = true
              break
          }
        })

        if (

[2015-03-19 05:53] JacksonGariety commented on #55
Yep the restart event fires as part of a chain of other events when a file is changed or `.emit('restart'` is called. If your app is restarting when it starts then something in your app is changing a watched file, or your text editor is producing temp files which are being watched. To debug I'd use the `watch` and `ignore` options and carefully figure out what's triggering it.

[2015-03-19 05:53] #55 closed

[2015-03-19 05:54] JacksonGariety commented on #54
@Beanow very interesting bug. I can't reproduce this, can you give me some detailed steps or is it jsut sporadic?

[2015-03-19 08:50] JacksonGariety commented on #56
Realized that the file list isn't being fed to `change` like it is in `restart`. Decided to go ahead and overhaul this feature and close #20 in the process. Major version coming shortly.

[2015-03-19 09:21] Beanow commented on #54
It is sporadic I'm afraid. Try using a small application that doesn't take long to load and repeatedly reload it. Although I'm not sure what more information that would give you.

[2015-03-19 10:07] #20 closed

[2015-03-19 10:08] JacksonGariety commented on #46
@ilanbiala Just overhauled some parts of gulp-nodemon and bumped version to 2.0. I'm not sure what needs to be done for Gulp 4.0 to be honest, the syntax looks exactly the same. Is there anything specific you're concerned about?

[2015-03-19 10:33] JacksonGariety commented on #56
@Naatan @paislee @jasonmerino take a look here guys: https://github.com/jacksongariety/gulp-nodemon#synchronous-build-tasks

Hopefully this works for you!

[2015-03-19 10:34] JacksonGariety commented on #20
Solution is included in gulp-nodemon 2.0.0 for those interested. Docs here: https://github.com/jacksongariety/gulp-nodemon#synchronous-build-tasks

[2015-03-19 12:59] nubs opened #64 "new "tasks" support does not work on node.js 0.10"
The "tasks" code uses `child_process.spawnSync` which wasn't introduced until node.js 0.12.

[2015-03-19 14:27] nubs opened #65 "Fails on change when no tasks specified in gulpfile"
The original start of the service works, but when I touch a file, gulp-nodemon crashes:
[code]

[2015-03-19 17:59] konsti commented on #65
Same for me

[2015-03-19 18:42] jasonmerino commented on #56
@JacksonGariety I'm trying out 2.0.0 and the first time a watched file is saved it runs the correct gulp task for the file extension, but when I save a file with a different extension then it still runs the task defined for the first saved file. The task to run doesn't update after the first save after startup.

[2015-03-19 18:55] lucasmotta commented on #65
+1

[2015-03-19 21:44] manonthemat commented on #65
I confirm this behavior in gulp-nodemon version 2.0.0

[2015-03-19 22:20] jpetitcolas commented on #65
+1

[2015-03-20 00:40] JacksonGariety commented on #56
@jasonmerino maybe there's a bug in my changedFiles function. It's sort of pseudocode tbh I bet there's an easier way to do it with highland.js where the margin of error is smaller. Are you using it exactly as I wrote it?

[2015-03-20 00:44] JacksonGariety commented on #56
@jasonmerino Fixed in 2.0.1 try the latest.

[2015-03-20 00:44] #56 closed

[2015-03-20 00:48] JacksonGariety commented on #65
@nubs not getting this one, may I see a sample gulpfile to debug?

[2015-03-20 00:49] JacksonGariety commented on #64
@nubs yes, unfortunately node 0.12 allows me to intercept the nodemon loop with `spawnSync`. No other way unless remy decides to provide internal support.

[2015-03-20 00:52] #65 closed

[2015-03-20 01:06] nubs commented on #64
gotcha.  Is it documented anywhere that node.js 0.12 is required for that feature?

[2015-03-20 01:07] JacksonGariety commented on #64
@nubs I'll add it to the README now. You can still use gulp-nodemon and the `.on('restart')` event but not synchronous build tasks, that's a brand new feature.

[2015-03-20 01:07] #64 closed

[2015-03-20 14:16] nubs commented on #64
Awesome thanks!

[2015-03-20 19:01] jasonmerino commented on #56
Works. :) Thanks!

[2015-03-20 22:18] jasonmerino opened #66 "child_process.spawnSync restarts gulp"
The change to having nodemon restart after other gulp tasks have run is pretty sweet, but with it came the restart of gulp on save of watched files as evidenced by this every save:

[code]

The project I'm working on is fairly large and am running a JSHint task every save of `.js` files. This task takes ~6.5 seconds to complete so we use gulp-cached to cut down on that time so that every subsequen

[2015-03-21 20:18] JacksonGariety commented on #66
@jasonmerino can you use the `.on('restart')` event that gets emitted? Sounds like for your purposes it'd work fine.

[2015-03-22 16:02] ilanbiala commented on #48
Seems to be fixed now.

[2015-03-22 16:02] #48 closed

[2015-03-22 16:03] #47 closed

[2015-03-22 16:03] ilanbiala commented on #46
@JacksonGariety what changed? Can a changelog be made so we never need to worry about updating?

[2015-03-23 21:15] jasonmerino commented on #66
The problem still exists if I use the `.on('restart')` event handler, plus the server restarts before the changes happen, which is fine for jshint, but if I need to use it to compile some `.js` files or something it would require another restart of the server for the changes to take place in the browser.

Here's the log of what happens with the `.on('restart', ['jshint'])` handler when I save a wa

[2015-03-31 16:18] SevereOverfl0w commented on #58
:+1:

Trying to start my script via babel-node

[2015-04-09 14:44] 360disrupt opened #67 "TypeError: Object #<Object> has no method 'spawnSync'"
My gulp configuration starts fine but on any file change it crashes. See the full source code at:
http://stackoverflow.com/questions/29537554/gulp-nodemon-browsersync-has-no-method-spawnsync-long-loading-time

It only fails if there are tasks. Fyi cp = child process: https://nodejs.org/api/child_process.html#child_process_child_process_spawnsync_command_args_options

[code]

[2015-04-10 07:15] 360disrupt commented on #67
Seemed only to exist in node v0.11.16, upgrading to v0.12 solved the problem

[2015-04-10 07:15] #67 closed

[2015-04-12 09:57] dwest-ee opened #68 "Nodemon won't restart on changes"
Hi,

I am using gulp-nodemon 2.0.2 with Node 0.12.2, and Nodemon isn't restarting on changes. My setup looks like:

// gulp start
nodemon({
    script: 'index.js'
  })

// nodemon,json
{
  "verbose": true,
  "watch": ["src/"]
}

[2015-04-12 10:01] sabarasaba commented on #58
+1

[2015-04-12 14:09] SevereOverfl0w commented on #58
https://github.com/SevereOverfl0w/gulp-nodemon uses a version without the gulp task enforcement, in case you wanna stick it temporarily in your package list.

[2015-04-15 02:13] JacksonGariety commented on #68
@dwest-ee does using `nodemon(require('nodemon.json'))` fix it?

[2015-04-23 15:17] MikeBarnhardt commented on #68
I have the same issue. My task is
[code]
and `nodemon.json` file is
[code]

I have tried using `nodemon(require('./nodemon.json'))` and it still doesn't work. Removing the `start` and `change` events makes it work, but won't fire my watch task.

The issues I have been running into is that using the `tasks` option will cause the restart to be extremely slow. If I do something like `gulp.task('defau

[2015-04-28 12:52] MikeBarnhardt commented on #68
I seem to have figured out a work-around:

[code]

It will now restart nodemon based on the `nodemon.json` watch array and also gulp will run the appropriate tasks `[js]` or `[css]` if those files are saved.

The `watching` variable is to prevent multiple event bindings watching the same files.

Also, I'm using [better-console](https://github.com/mohsen1/better-console) for the improved console fu

[2015-04-28 20:37] LabiKyo commented on #29
Hi @JacksonGariety, I think you misunderstood. `exec` option is not the same as `child-process`. It's the exec nodemon would use, which is `node` by default.

I'm trying to use `babel-node` as exec, but got `Task 'babel-node' is not in your gulpfile`.

[2015-04-30 03:45] JacksonGariety commented on #29
@LabiKyo would you post your gulpfile with the babel-node part included? I don't see a ref to babel-node in your original.

[2015-04-30 05:51] LabiKyo commented on #29
Sure.

I create a new project to reproduce this. First `npm init` and install the following dependencies:
[code]

then create a gulpfile like this:
[code]

then `gulp`, I got `Task './node_modules/.bin/babel-node' is not in your gulpfile`

or use the global babel-node, it's the same.

[code]

got `Task 'babel-node' is not in your gulpfile`

And here's how I can do this in command line with nodemon

[2015-04-30 20:29] #29 closed

[2015-04-30 20:31] JacksonGariety commented on #29
@LabiKyo @generalov should be fixed in 2.0.3! Thanks, I must've left this in from pre-2.0 era gulp-nodemon.

[2015-05-04 21:26] neagle opened #70 "Nodemon hangs after first restart"
I'm hoping I'm doing something obvious and dumb to cause this problem. I've been using `gulp-nodemon` without any problems for a while in my project, but at some point without my realizing it, it stopped working properly (possibly due to a node upgrade or something else).

I start my gulp nodemon task, and nodemon starts just fine:

[code]

I save a file that it's watching, and everything (includi

[2015-05-05 13:55] generalov commented on #29
Thanks!

[2015-05-11 00:52] jhubsharp opened #71 "Can't provide gulp task and function to event"
I'm watching John Papa's course on build automation with Gulp, and your plugin was referenced. In the course, John was able to provide both an array of gulp tasks and a function to execute when an event fires, but that doesn't seem to work here. My task seems to get ignored. Here's what I'm attempting:

[code]

The vet task is just doing a log statement, but I don't ever see that log statement whe

[2015-05-14 12:38] dolohow commented on #66
Consider using event 'exit'
[code]

[2015-05-15 09:01] alexmcmillan commented on #71
I've had a similar problem with `tasks` being ignored.  I think this is because internally `gulp-nodemon` [uses](https://github.com/JacksonGariety/gulp-nodemon/blob/master/index.js#L74) `child_process.spawnSync`, which fails with `ENOENT`.

If you try `.on('restart', ['vet'])` do you see the log output?
Are you in a Windows environment?

I solved the problem by changing [this function](https://git

[2015-05-15 15:04] jhubsharp commented on #71
Windows 8.1. And yes, if I send the task without the function it works fine. It will run either the function or task, just not both.

[2015-05-16 17:04] alexmcmillan commented on #71
Ok if sending a single task works then this is likely a different issue.

[2015-05-26 06:34] basickarl opened #73 "support nodemon monitoring multiple directories"
I wish for gulp-nodemon like nodemon https://github.com/remy/nodemon#monitoring-multiple-directories to watch specific directories. I don't know if I missed any documentation, but it's not very clear.

[code]

Here is my gulp task:

[code]

I also use -e js,html,hbs but your ext seems to have that sorted.

[2015-05-26 10:20] marksyzm commented on #6
I've got this too - for now I'm having to combine services in one task when doing dev work (not great)

[2015-05-29 21:20] grit96 commented on #67
I also have this issue on node `v0.10.25` gulp-nodemon `2.0.3`

[2015-06-01 08:56] csvan commented on #6
Experiencing the same issue when using gulp-nodemon.

[code]

[2015-06-02 20:05] Warrenn commented on #67
I have the same issue my node version is v0.12.2 and my gulp-nodemon 2.0.3 so I'm at a loss? This sucks!

[2015-06-10 12:29] piteer1 commented on #68
@dwest-ee @JacksonGariety Just an info, I had the same issue when using nodemon and jasmine for tests with jasmine.clock().install() or jasmine.clock().mockDate(). So it's possible this problem is caused by mocking date in tests.

[2015-06-11 22:19] kkworden commented on #70
Having this exact issue as well.

[2015-06-14 19:36] jhubsharp commented on #71
Tried this again and it looks like the single task isn't working for me now. I don't recall how the config was different that I had seen this work before, but it's clearly not working now.

I followed the thread and see that there is a fix coming soon, so I'll hold in the meantime.

[2015-06-22 19:41] kellyrmilligan commented on #29
+1 this helped me with babel-node as well and gulp

[2015-06-24 19:32] sbehun commented on #50
Looking to do the same thing here.  Did you ever find a fix?

One gulp task starts the server, another task needs to be able to stop it.  I would expect something like...
[code]
to kill the server.  Instead I get the following error:
[code]

[2015-06-25 19:31] nmccready commented on #68
This is a bug in nodemon `1.3.7` if you force gulp-nodemon to run `1.3.6` it appears to work. This is running against gulp-nodemon `1.0.5`

[2015-06-25 19:36] nmccready commented on #68
https://github.com/remy/nodemon/pull/568

[2015-06-25 19:37] nmccready commented on #68
I confirmed nodemon 1.3.6 fixes gulp-nodemon  2.0.2

[2015-06-29 04:50] chbdetta commented on #70
+1

[2015-06-29 14:53] demetriusnunes commented on #58
+1

[2015-07-03 14:34] georgschlenkhoff opened #77 "gulp-watch & gulp-nodemon"
I'm using `gulp-watch` package that starts also gulp-nodemon, like so:

[code]

However, when I quit the gulp watch command with Ctrl + c, then nodemon process is still running. Is there a way how to cleanly exit the process?

[2015-07-05 12:25] mauropalsgraaf opened #78 "nodemon synchronously task execution not working"
Hello,

Been working with nodemon for a while now, but i'm not able to execute a gulp task to transform my ecmascript 6 code before the server restarts. This is a different task in tasks. My code looks like this:

    var gulp = require('gulp');
    var noDemon = require('nodemon');
    var babel = require('gulp-babel');
    var plumber = require('gulp-plumber');

    gulp.task('server', ['transfo

[2015-07-08 19:45] luketurner commented on #78
I also found this problem, and it seems to have two underlying causes.

The first is that the way it determines when to run the tasks does not work if `verbose` is disabled. It looks for the line `restarting due to changes...` but that line doesn't appear to be written to `stdout` each time a file is changed, so the tasks are not triggered.

The second is that if you are on Windows you may have a

[2015-07-09 15:22] azat-co commented on #15
I was getting these crashes with listen EADDRINUSE and gulp-nodemon 2.0.3

My gulpfile looked like this (mostly from the readme):

[code]

I removed the options and it worked.

[code]

[2015-07-15 21:24] lsiden commented on #65
I have 2.0.3 but this is still occurring.  Here's a full trace of my brief session:

    lsiden@morpheus [cpservice] (master $) [1]$ gulp serve
    [17:13:11] Warning: gulp version mismatch:
    [17:13:11] Global gulp is 3.9.0
    [17:13:11] Local gulp is 3.8.11
    [17:13:11] Using gulpfile ~/pah/pahpublicbuild/cpservice/gulpfile.js
    [17:13:11] Starting 'serve'...
    [17:13:11] Finished 'serv

[2015-07-16 14:20] jgroblesr85 commented on #78
I had same problem on Windows and @luketurner solution about changing gulp to gulp.cmd worked.

[2015-07-16 20:12] calekennedy opened #79 ".on('exit', ...) event is being called twice"
[code]

The stop gulp task is being called twice. Any ideas?

[2015-07-17 16:17] lsiden commented on #65
I finally narrowed it down to livereload.  See my comment here: https://github.com/vohof/gulp-livereload/issues/28#issuecomment-122330533

[2015-07-19 03:41] rkmax commented on #14
@JacksonGariety I've found this issue closed but I can't find how to pass `--harmony` nor `--use_strict`

[2015-07-19 03:47] rkmax commented on #14
I realized how to do it

[code]

[2015-07-20 09:38] csvan opened #80 "Monitored process survives gulp/gulp-nodemon exiting/restarting"
I have a very basic setup:

[code]

...with a very basic monitor setup:

[code]

There are two problem with this, however:

1. The Node process never actually restarts. This is evident because the following happens on every restart reported by Nodemon:

[code]

2. The process is still running after Gulp/Gulp-Nodemon are closed. This can be confirmed through netstat:

[code]

[2015-07-21 17:59] Yuioup opened #81 "nodemon.tasks does not work on Windows"
[code]

The above code is a simple task for monitoring a hapijs server. The nodemon reloads the server but the `tasks: ['jshint']` does not execute.

I did a small bit of debugging and it looks like this line in the code does not seem to do anything:

[code]

Link to source: https://github.com/JacksonGariety/gulp-nodemon/blob/master/index.js#L74

I get no error or any feedback.

I changed this lin

[2015-07-21 18:01] Yuioup commented on #81
Running on nodejs 0.12.7

If you're curious about the code, it's here:

https://github.com/Yuioup/hapi-test

It's not very exciting.

[2015-07-21 18:06] Yuioup commented on #81
It works on Linux BTW

[2015-07-22 06:50] devinmcinnis commented on #78
I know it's not ideal but, for now, you can start the task from the `restart` event:

[code]

[2015-07-22 07:05] mauropalsgraaf commented on #78
Thanks for replying to this post, i will try it out today, have been busy for a while and the first solution from @luketurner sounds to work. @devinmcinnis, your solution will not work correctly since the on restart event will be called, but you cannot guarantee that the task will be finished before restart.

[2015-07-22 18:31] ericqweinstein commented on #80
I'm seeing the same problem. It can be fixed by manually setting the version of `nodemon` to 1.3.7 (when I install the latest `gulp-nodemon`, it installs 1.3.8 as a dependency). I can make a PR to fix on 1.3.7 as a temporary workaround.

[2015-07-22 20:29] myndzi opened #83 "gulp doesn't exit correctly when using gulp-nodemon and launched via npm"
nodemon binds SIGINT to, presumably, attempt to nicely forward this to its children:
https://github.com/remy/nodemon/blob/v1.3.8/lib/monitor/run.js#L322-L324

But, if it was required, it doesn't actually exit its process:
https://github.com/remy/nodemon/blob/v1.3.8/lib/monitor/run.js#L274-L284

Instead, it emits the 'exit' event, expecting whatever required it to deal with this case. (This seems t

[2015-07-22 20:39] myndzi commented on #83
This isn't actually quite enough since it doesn't cover restarts...

[2015-07-22 20:46] myndzi commented on #83
This will take care of that:

    var monitor = nodemon(....);
    process.once('SIGINT', function () {
      monitor.once('exit', function () {
        process.exit();
      });
    });

[2015-07-23 22:13] hydrosquall commented on #46
Was following along with a tutorial that involved migrating from Gulp 3 to Gulp 4, and Nodemon was the only dependency that appears to have broken. Using version 2.10.1.

It says it required gulp ^3.8.11, but loaded the local version of gulp, which was 4.0.0-alpha.1.

(In other words, looks like Gulp 4 is a breaking change at the moment).

[2015-07-26 07:16] Zolmeister commented on #83
+1

[2015-07-27 09:25] gaborluk commented on #81
Confirmed: I'm having the same issue on Windows 7, with Node.js `v0.12.7`.

Thanks for the temporary workaround, @Yuioup.

[2015-07-29 20:23] BlueHotDog commented on #6
so.. no fix  for a year :(

[2015-07-30 03:30] sonelliot commented on #81
I'm getting this problem too. Cheers for the work-around!

[2015-07-30 11:52] remy commented on #6
@BlueHotDog so.. no pr for a year :(

[2015-07-31 04:29] #78 closed

[2015-08-01 07:40] JacksonGariety commented on #79
@calekennedy 'stop' is automatically called on 'exit' to account for bugs across systems iirc. You should just be able to remove that line and it'll work fine. If it doesn't, then the real problem will surface there.

[2015-08-01 07:42] JacksonGariety commented on #73
You shouldn't have to pass nodeArgs like this. just use `"watch": []`

Docs here: https://github.com/remy/nodemon/blob/master/doc/sample-nodemon.md

Let me know if this resolves your issue.

[2015-08-06 11:04] edwardwang1105 commented on #50
My current workaround is to replace the `gulp-nodemon` with `nodemon`.

[code]

[2015-08-08 12:12] Zane-XY commented on #15
Same error while using gulp-nodemon 2.0.3
[code]

[code]

[2015-08-12 19:48] misterfresh opened #85 "How can I use node-inspector with gulp-nodemon ?"
I'm using gulp nodemon with browser-sync and it's working great.
Now I'd like to set it up so that when I write a "debugger;" statement in my code, it will open node inspector on live reload.
How can I do that?
Thanks

[2015-08-15 13:10] Snugug opened #86 "Nodemon crashes when used with Browser Sync"
I'm trying to proxy my nodemon served server through Browser Sync for development purposes. Running either my Browser Sync process or my Nodemon process works fine, but when run together Nodemon crashes. I'm using `gulp 3.9.0`, `gul-nodemon 2.0.3`, and `browser-sync 2.8.2`

**Gulpfile.js**
[code]

**Error**
[code]

[2015-08-16 10:51] Snugug commented on #86
Resolved this by explicitly only watching the files I need for my server

[2015-08-16 10:51] #86 closed

[2015-08-18 15:00] jmls opened #87 "call function in gulp-nodemon monitored process"
I have gulp-nodemon running a process (started with foo.js)

When a file changes on the disk, I need to call a function in the running process - is this possible, or do I need to add a watch in the process itself ?

[2015-08-19 14:44] ngerritsen opened #88 "How reload after app restart?"
If I use the .on('restart', fn) on gulp nodemon, the function runs before the app has even finished restarting? I can understand this is default behaviour. Is there any way to get notified when the app is finished restarting from nodemon? I want to use it to reload my browser with browsersync.

    gulp.task('node', ['transpile-node'], function () {
        return gp.nodemon({
            script:

[2015-08-21 16:33] JacksonGariety commented on #87
@jmls nodemon and gulp-nodemon are both going to kill your app when something changes, so calling the function itself wouldn't work very effectively or consistently.

What you want to do is use [gulp-watch](https://www.npmjs.com/package/gulp-watch) and start your app from within gulp using `child_process.fork()` and then `child.send()`.

[2015-08-21 16:33] #87 closed

[2015-08-21 16:46] JacksonGariety commented on #85
@misterfresh have you tried starting gulp-nodemon with `debug: true` as an element of the config object?

[2015-08-21 16:47] JacksonGariety commented on #85
@misterfresh if that doesn't work, try calling nodemon directly from the console and passing the `--debug` flag. If that work than that flag needs to be added to the config.

[2015-08-21 16:49] JacksonGariety commented on #83
@myndzi @Zolmeister should I still implement this, or should I simply update to nodemon 1.4?

[2015-08-21 16:52] JacksonGariety commented on #81
@Yuioup I don't have a windows system. Would you try removing the `stdio: []` part and see if you get some feedback on the console when that line is reached?

[2015-08-21 16:56] JacksonGariety commented on #80
@csvan should be fixed in nodemon 1.4.0. I'm going to publish a new version of gulp-nodemon with an updated nodemon.

[2015-08-21 16:56] #80 closed

[2015-08-21 16:56] #83 closed

[2015-08-21 16:57] #79 closed

[2015-08-21 17:00] JacksonGariety commented on #50
@edwardwang1105 does nodemon.emit('quit') not work with gulp-nodemon? Is an error thrown?

[2015-08-21 17:08] JacksonGariety commented on #50
@binarykitchen were you trying to do something like `child_process.send()` with a message? If so, you might want to use net sockets.

[2015-08-21 17:10] #59 closed

[2015-08-21 17:16] JacksonGariety commented on #66
@jasonmerino I haven't forgotten about this.

Gulp isn't 'restarting' every time, it's simply spawning a new gulp instance as a child of the parent process. So I'm not exactly sure what's wrong here, but I'll come back to this.

[2015-08-21 20:56] JacksonGariety commented on #70
Should be fixed with gulp-nodemon 2.0.4.

[2015-08-21 20:56] #73 closed

[2015-08-21 20:56] JacksonGariety commented on #68
Fixed in gulp-nodemon 2.0.4 which uses nodemon 1.4.1

[2015-08-21 20:56] #68 closed

[2015-08-22 02:18] binarykitchen commented on #50
i don't remember my problem anymore, this ticket is so old and after six months you are replying ...

[2015-08-22 03:02] edwardwang1105 commented on #50
@JacksonGariety just like @sbehun said, it throws `TypeError: undefined is not a function` when calling `$.nodemon.emit('quit')`

[2015-08-24 14:02] zinas commented on #70
I updated to 2.0.4 and the issue seems to exist still. Anyone got it working after updating?

[2015-08-28 19:50] scottseeker commented on #77
I have the same issue.

[2015-08-31 17:59] beebase commented on #85
fyi:
Executing 'nodemon --debug server.js'  in a terminal triggers node-inspector.
However, when adding it as an elem in the config object, node-inspector won't kick in.

![image](https://cloud.githubusercontent.com/assets/446089/9586028/a9f98ff8-501a-11e5-9cc4-4efadf78793f.png)

[2015-09-02 15:17] c0bra commented on #24
I was getting the `this might cause high cpu usage` warning as well, however it seemed like only changes to the files in my `watch` property triggered a restart.

I changed my watch from `src/server/` to `./src/server` as @ilanbiala indicated and the warning went away.

[2015-09-10 09:23] jkresner commented on #70
Have had problems with this module many times... any good alternatives?

[2015-09-10 10:33] goncaloneves commented on #85
I found a solution on the config object using exec parameter that works fine, even with lint task on restart event:

[code]

[2015-09-11 16:08] ionutzp commented on #85
@goncaloneves the ```exec``` did the trick thanks, tried it earlier with ```execMap``` and it couldn't get it to work

[2015-09-11 16:51] goncaloneves commented on #85
@ionutzp: for future reference, try this:
[code]

[2015-09-11 21:29] ORESoftware opened #89 "passing args to node process via 'gulp nodemon'"
with npm start, I can pass args to the node process like so

```npm start -- --some_flag```

in that case the some_flag flag is passed to node itself

but I am having trouble figuring out how to pass args with nodemon, and gulp nodemon in particular

```gulp nodemon``` works great

but this doesn't work

```gulp nodemon -- --some_flag```

is this possible? thanks

[2015-09-11 22:30] ORESoftware commented on #89
I did some more legwork

there is the ```nodeArgs``` option

but using nodeArgs of course does this:

```node --some_option ./bin/www.js```

what I am looking for is:

```node ./bin/www.js --some_option```

[2015-09-11 22:34] ORESoftware commented on #89
guessing around did the trick

instead of the option nodeArgs, I use args like so:

[code]

this results in this command line command:

```node bin/www.js --use_socket_server --use_hot_reloader```

great thanks

[2015-09-18 09:36] pensierinmusica opened #90 "Problem watching file changes"
Hi,

I'm using Node v4.1.0, and `gulp-nodemon` 2.0.4, and it looks like `gulp-nodemon` is not detecting file changes in my server directory.

This is the relevant part of my configuration:

[code]

When I run `gulp`, `gulp-nodemon` starts the server fine, but then it doesn't detect any file changes and it never restarts (in case it matters, please note that the server is not in the same directory

[2015-09-18 13:21] burkhardr commented on #90
Can you `cd node_modules/gulp-nodemon/ && npm install nodemon@1.4.1` and see if that fixes it for you?

We're currently experiencing issues with file watch in >1.4.2

[2015-09-18 14:04] pensierinmusica commented on #90
Ok, I tried to swap it with nodemon v1.4.1 and now it crashes immediately:

[code]

[2015-09-20 11:26] marvinroger commented on #33
I do have the same issue... That's weird.

[2015-09-22 18:50] kweiberth commented on #33
Yeah I'm experiencing this as well. Using v2.0.4

[2015-09-22 19:36] JacksonGariety commented on #33
@kweiberth can anyone give me steps to reproduce? It does't seem to happen on my system. This is the most pervasive issue with the project at the moment so it needs a test.

[2015-09-22 23:41] jakeorr commented on #33
Hi Jackson, thanks for looking into this. I'm having to ctrl+c twice whenever I run my nodemon task.

The task:
[code]

The server:
[code]

express: 4.13.3
gulp: 3.9.0
gulp-nodemon: 2.0.4
node: 4.0.0

Hopefully that helps!

[2015-09-23 04:26] kweiberth commented on #33
I'm encountering this problem when running gulp serve from the command line for this project: https://github.com/kweiberth/reedio-react

[2015-09-23 23:17] radfahrer opened #92 "How do I run nodemon in debug mode?"
[code]

isn't working for me

[2015-09-28 00:07] adambuczynski commented on #90
I was having the same issue. Since one of the last updates, the files weren't being watched anymore, and I have to press CTRL-C twice to exit the script from the terminal.

Swapping out nodemon with 1.4.1 seemed to fix the issue and bring everything back to normal.

[2015-09-28 00:11] adambuczynski commented on #90
Perhaps you could freeze the version of nodemon in package.json at 1.4.1 for the time being until these issues are resolved?

[2015-09-28 07:23] burkhardr commented on #90
We did the manual step above and then froze all our project's dependencies with `npm shrinkwrap`.

nodemon 1.4.x seems to be quite a big refactor and, unfortunately, also breaks a few things.

[2015-09-28 08:14] adambuczynski commented on #90
1.4.1 works for us it's 1.7.x that's causing the problems. I'll consider
shrink wrapping the project but preferably we'd keep the rest of the
modules updateable.

Ideally however, the problems should be fixed in this plugin I guess.
On Sep 28, 2015 8:23 PM, "Burkhard Reffeling" <notifications@github.com>
wrote:

[2015-09-28 09:11] goncaloneves commented on #92
@radfahrer you can find the solution at #85.

[2015-09-28 10:18] remy commented on #90
@burkhardr the refactor was on an internal module code only, not at the entry points. Obviously something is up, but I suspect this should be simple to investigate and fix at the integration.

[2015-09-28 10:20] remy commented on #90
To get more debug output, can you run your usual commands, but introduce the `DEBUG=nodemon,nodemon:*` environment variable, and record and paste the output here.

[2015-09-28 13:50] adambuczynski commented on #90
Yes, I'll give it a go tomorrow

[2015-09-29 13:08] pensierinmusica commented on #90
@adambuczynski if you check https://github.com/JacksonGariety/gulp-nodemon/issues/90#issuecomment-141459766 actually using `gulp-nodemon` with nodemon v1.4.1 is causing a crash on my side (with Node v4.1.0).

[2015-09-29 17:01] adambuczynski commented on #90
Hmm, we must be having different issues then.
On Sep 30, 2015 2:08 AM, "Alessandro Zanardi" <notifications@github.com>
wrote:

[2015-09-30 15:01] 360disrupt commented on #6
What I do I run two console windows. I lay both applications to diff. ports with `node.process.env` . For all other duplicate issues I copy the whole app to a second .tmp folder and run `gulp.replace` . At the moment I restart the second gulp task by hand but I plan to create an empty file as soon as the first process finishes and to watch this file with the second process.

[2015-10-03 16:42] marvinroger commented on #33
I can confirm the PR above is working fine.

[2015-10-06 09:14] eliot-akira commented on #77
Same here. After quitting gulp with Ctrl + c, the process continues to run - and when I enter any key on the bash command line, the process finally ends with an error:

[code]

I've tried different methods to prevent this, but so far no success. The only workable way I found was to run nodemon and gulp separately.

[2015-10-07 18:54] jaredrada opened #93 "d,dl49fmrc/zleivjkdmlckar;a"

[2015-10-07 18:54] #93 closed

[2015-10-12 08:24] jmls commented on #90
yeah, I just hit this problem as well. Moving back to 1.4.1 seems to have fixed the problem

[2015-10-12 16:43] adambuczynski commented on #90
Any heads up on this problem getting fixed/addressed?

[2015-10-12 17:06] remy commented on #90
I'm still waiting for an answer on my last comment...

[2015-10-12 17:48] adambuczynski commented on #90
Sorry my bad, forgot all about it!

[code]

Then changing a file in `server` doesn't trigger anything. Lastly, pressing ctrl-C twice is required to stop nodemon first and then gulp:

[code]

[2015-10-20 16:24] vedraan commented on #89
For anyone looking to run node in strict mode the solution is to use ```nodeArgs: ['--use-strict']```, since running it in ```args``` won't work.
If you're interested in knowing why anyone would want to run node in strict mode, it's related to ES6 support: https://nodejs.org/en/docs/es6/

[2015-10-21 09:23] njl07 opened #94 "Endlessly restart"
Hello,

When I specify watching array, in config object, with more one element, `nodemon` is restarting endlessly:

[code]

Result in console log:
[code]

If I put only one element in this array, works fine:

[code]

Result in console log:
[code]

My `node` version is `v4.2.1` and worked fine before.

Thanks for your help.

[2015-10-21 13:17] pipmurphy commented on #94
We're getting similar behaviour. Works fine with one element in the `watch` array, but constantly restarts if more than one watched folder.

(By specifying a function for the `tasks` option, it's possible to find out which files it considers to have changed - with more than one watched folder, it seems to think that old, unchanged files have changed.)

[2015-10-21 16:35] bsouthga commented on #94
installing `nodemon@1.4.1` manually fixed the issue of incessant restarts for us (looks like it was an issue with the newer underlying nodemon version (`1.7.3`), but now we're having issues with any changes being watched...

[2015-10-22 01:30] Velveeta commented on #94
Right, I'm about to push a PR to temporarily fix this by just modifying the gulp-nodemon package.json file to reference nodemon <=1.7.1... There's a downstream change from the chokidar module that's causing a lot more 'add' events to be published, and the timing seems to be out of whack with the 'ready' events they publish, so that when passing an array of file watches, it alerts 'ready' for compl

[2015-10-25 09:23] adambuczynski commented on #90
@remy did that help, or do you need more specific information?

[2015-10-26 13:41] markstos commented on #94
This issue was caused a bug in a `nodemon`, in combination with a dependency specified by `gulp-nodemon` that allowed the broken dependency of nodemon to be used. The issue is somewhat resolved because `nodemon` has released version 1.8.0.   To avoid similiar issues in the future, gulp-nodemon could be more precise about what version it requires. For example, if "~1.4.1" was specified as the versi

[2015-10-26 13:43] markstos commented on #94
Another approach is to keep the acceptable range of the `nodemon` dependency broad, but blacklist the problematic range:

    `>=1.4.1 <1.7.0 || >=1.8.0 <2.0.0`

[2015-10-30 13:25] cgmartin commented on #33
I'm also encountering this issue using same versions as @jakeorr described, additionally with node: 4.2.1.

Currently using the following as a workaround in my Gulpfile, based on [jake's PR](https://github.com/JacksonGariety/gulp-nodemon/pull/91):
[code]

[2015-10-30 18:34] jrock2004 commented on #90
Having the same issue. Doing the solution above for setting nodemon to 1.4.1 fixes the issue for me

[2015-10-30 22:45] jamesRaybould commented on #66
I've also just been bitten by this one.

I've just added a quick and dirty `console.log('New cache:', name)` into the `index.js` of gulp-cached, and every time gulp-nodemon spawns a new gulp instance it doesn't keep the state of it's parent

[2015-10-31 17:17] rodoabad opened #96 "Waiting for tasks to get done"
Assume the following tasks.

[code]

[code]

As far as gulp is concerned `run` won't even run until `build` is done.

When looking at my logs, this is what happens (log below).

[code]

But you can see that nodemon will try and run `dist/server.js` and then throw an error because it couldn't find it.

Adding `build` to nodemon's `tasks` solves this problem.

[code]

But why do I have add `build` a

[2015-10-31 22:16] rodoabad commented on #96
Just adding more logs.

[code]

[2015-11-01 15:22] Avcajaraville commented on #33
Im also having the same issue, @cgmartin workaround works for me

[2015-11-03 08:19] formatlos commented on #70
Having this exact issue as well (v. 2.0.4)

[2015-11-03 19:38] cudasteve commented on #85
Wish I would have found this thread a while back.  In case it helps anyone in the future, here's an alternative solution I came up with that uses the `nodeArgs` option if you need a little more control over node-inspector or want to have it available as its own task.

    var nodeInspector = request('gulp-node-inspector');
    gulp.task('inspect', function () {
        gulp.src([]).pipe(nodeInspec

[2015-11-05 14:55] cafesanu commented on #90
Adding `nodemom 1.4.1` to my `package.json`'devDependencies` rather than letting gulp-nodemon install it fixed it for me as well.

[2015-11-06 01:28] kweiberth commented on #33
I can also confirm that @cgmartin workaround works to overcome this issue for me.

[2015-11-06 09:26] simono commented on #90
@jrock2004 @cafesanu gulp-nodemon 2.0.4 actually uses nodemon 1.4.1 https://github.com/JacksonGariety/gulp-nodemon/commit/c0a22ea621bb00a2d6f03a4f676d5f8d9a71ce09

[2015-11-06 18:03] adambuczynski commented on #90
Yes, using gulp-nodemon 2.0.4 seems to have "fixed" the issue with file watches. It still requires two cltr-C's to terminate gulp and nodemon.

[2015-11-09 12:15] remy commented on #90
What happens when gulp-nodemon uses the latest version? 1.8.1?

[2015-11-09 16:57] mshwery commented on #77
same

[2015-11-09 17:14] myndzi commented on #83
Thus daosn

[2015-11-09 17:14] myndzi commented on #83
This doesn't appear to have been fixed, or else it has regressed. Still applies with the latest instance of nodemon / gulp-nodemon. Not hunting it down this time, just continuing to use my workaround -- but thought I'd bring it to someone's attention.

[2015-11-09 22:52] eliot-akira commented on #77
For me, the following finally solved this issue:

[code]

I have several watch tasks including nodemon and browser-sync, so your mileage may vary.

[2015-11-10 01:07] mshwery commented on #77
@eliot-akira what is `process` for you in this closure?

[2015-11-10 20:12] adambuczynski commented on #90
I currently have gulp-nodemon 2.0.4 and nodemon version 1.8.1, and while the file watches are working now, it still requires the two ctrl-C's to terminate both processes.

[2015-11-11 00:04] Zolmeister commented on #83
Confirmed this is currently still happening, and appears to be simply requiring nodemon which causes the issue.

Current workaround involves not using nodemon, based on:
https://gist.github.com/webdesserts/5632955

[code]

[2015-11-11 00:41] adambuczynski opened #97 "Add script flags/parameters"
Is it possible to add support for script flags/parameters to be passed on to nodemon?
For example, I want to run my script with the `--harmony_destructuring` flag, but get errors when I append this to the `script` property, and I couldn't find any other properties where I can pass this to in the documentation.

[2015-11-13 10:42] 360disrupt commented on #85
@cudasteve
You need to use yargs in gulp otherwise there will be nor arguments visible:
https://github.com/bcoe/yargs

Also I named òptions`to `nodeOptions ` to get it working.

[2015-11-13 17:46] cudasteve commented on #85
@360disrupt thanks for the catches!

[2015-11-18 14:49] robbie-c commented on #81
I had this problem on Ubuntu 15.10. I had the same problem where

    cp.spawnSync(process.platform === 'win32' ? 'gulp.cmd' : 'gulp', tasks, { stdio: [0, 1, 2] })

had no effect. This is because it assumes that gulp is installed globally.

Installing gulp globally seemed to do the trick. I guess the correct behaviour here would be to check for a local one, then fallback to global if local doesn't

[2015-11-19 16:16] timelf123 opened #98 "Ignored files not actually ignored"
As you can see below, I want to ignore everything in `public/**/**`. I have tried several patterns but none are working:

[code]

[code]

[2015-11-20 07:17] Soviut commented on #98
@timelf123 I was able to get this working by leaving the slashed off the end of the folder names.

[code]

[2015-11-20 20:31] adjavaherian commented on #33
been looking high and low for this.  Thanks @cgmartin!

[code]

[2015-11-25 00:48] theverything commented on #77
Thank you for this thread I've been having this issue for the last couple weeks and couldn't figure out why.

I used a modified version of @eliot-akira fix. Which seems to have removed the error.

[code]

[2015-11-26 22:16] kennethklee commented on #83
Currently using this workaround:
[code]

[2015-12-02 15:16] PeterPanen commented on #77
@theverything
It seems here that the nodemon exit event also gets triggered when nodemon restarts, due to file changes.

[2015-12-04 14:55] stanofsky commented on #97
You can define your own default executables using [`execMap`](https://github.com/remy/nodemon/blob/master/README.md#default-executables) property.

[code]

[2015-12-04 18:08] adambuczynski commented on #97
Excellent, thank you

[2015-12-04 18:08] #97 closed

[2015-12-07 03:39] mhchen opened #100 ""tasks:" option with an empty array runs my default task"
Using this gulpfile.js:

[code]

If I run
[code]

then update one of my .jade files, it runs my default task. Console output:

[code]

so it seems that the "tasks:"  option runs the default task if fed an empty array. I verified that this also happens when tasks: is a function that returns an empty array. I expect it to do nothing if given an empty tasks: array.

Use case is I want to do something

[2015-12-09 10:38] damiandennis commented on #100
same issue here, respawns a new instance like in issue https://github.com/JacksonGariety/gulp-nodemon/issues/66 workaround is just to add a empty string as a task.

[2015-12-12 04:08] mhchen commented on #100
Oh, looks like this was fixed in https://github.com/JacksonGariety/gulp-nodemon/commit/9e68c18fc3171f437adf43b30c35ebe70053c974. Just needs to make it into a release

[2015-12-21 08:46] asaf-romano opened #101 "stdout: false is only applied to the first process"
Hey there,

If I set the ``stdout: false`` option on nodemon (along with a readable event listener), it seems to affect the first (i.e. pre-restart) process only. Once the process is restarted, stdout is back to normal, and the readable event listener isn't dispatched.

[2015-12-22 16:40] glortho commented on #77
@eliot-akira thank you!

[2015-12-28 17:34] JacksonGariety commented on #89
may I close this?

[2015-12-28 17:35] JacksonGariety commented on #100
@mhchen @damiandennis fixed

[2015-12-28 17:35] #100 closed

[2015-12-28 17:35] #98 closed

[2015-12-28 17:38] JacksonGariety commented on #96
@rodoabad putting it in the `tasks` array ought to run it first, so you should be able to compile your app there.

This is a bit out-of-the-way by Gulp standards, which is why this is listed as gulp-friendly rather than a true gulp plugin. The way Gulp is setup, there's no good way to integrate it with nodemon, so the tasks array is the core of this project.

[2015-12-28 17:40] JacksonGariety commented on #94
@markstos pushed the latest with nodemon 1.8.1, but considering using your blacklist. The problem is that if someone happens to have nodemon 1.7.x installed, then Node will pick it up?

If that's not the case, then such a blacklist probably isn't necessary, but I'm not exactly sure how the `^` works in package versions.

[2015-12-28 20:03] markstos commented on #94
Thanks, @JacksonGariety. Where I can find out how I could use a blacklist?

Perhaps you are referring to the ability to specify ranges of allowed or excluded versions in package.json dependency lists. As I understand, I depend on gulp-nodemon and don't have control over the version of `nodemon` that gulp-nodemon` requires, so that the place to specify an exclusion would be the `gulp-nodemon` packa

[2015-12-28 20:06] JacksonGariety commented on #94
@markstos my thinking was that you'd fork gulp-nodemon and include the blacklist and use that fork in your package.json instead of the npm one. package.json allows you to specify git repos as packages.

see: https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

If that blacklist works we'll merge it in with master so other people don't accidentally end up with the nodemon 1.7.x bug.

[2015-12-28 20:10] JacksonGariety commented on #90
@remy @adambuczynski PR 8ee28a46a9f335d9babf0131fde29b646cc621c3 should fix this. Pushed it to npm this morning.

[2015-12-28 20:25] markstos commented on #94
I see. I don't plan to fork the project, as I've solved the issue for myself.  You might still want to update your version syntax to to exclude the problematic versions as I previously recommended to avoid the possibility of more support requests landing here.

    `>=1.4.1 <1.7.0 || >=1.8.0 <2.0.0`

[2015-12-28 21:12] jakeorr commented on #90
Thanks for getting it merged, @JacksonGariety. Happy to contribute!

[2015-12-28 23:23] adambuczynski commented on #90
Excellent, thanks @JacksonGariety

[2015-12-29 15:59] jpierson commented on #85
I followed link from #92 which let me here bug neither **execMap** or **exec** seem to make any difference to me as I am still not able to get [breakpoints to hit in VSCode](https://github.com/Microsoft/vscode/issues/1552#issuecomment-167818604).

[code]

[2015-12-31 22:58] bavellone commented on #77
@theverything Just what I was looking for. Thanks!

[2016-01-07 15:26] julbra commented on #70
I am also seeing this issue (v 2.0.6) but only when editing files in Jetbrains IDEs. Using any other text editor works as expected. Is it possible that IntelliJ/WebStorm removes the inode watch and readds it later, thus confusing nodemon?

[2016-01-09 21:44] monteirocode commented on #88
+1

[2016-01-10 21:12] JacksonGariety commented on #88
@ngerritsen @monteirocode use the `start` event: https://github.com/remy/nodemon/blob/master/doc/events.md

[2016-01-10 21:12] #88 closed

[2016-01-10 21:13] JacksonGariety commented on #77
I think this is a duplicate of #33.

[2016-01-10 21:14] JacksonGariety commented on #24
@AndrewGrachov is right, in this case.

[2016-01-10 21:14] #24 closed

[2016-01-10 21:16] JacksonGariety commented on #101
@asaf-romano nodemon doesn't have a change event by itself, so nodemon needs the `stdout: true` in order to work properly. What we could do is add a feature to filter everything nodemon outputs and shim `gulp-nodemon`'s `stdout` property, as we do with some other nodemon defaults. This is a feature request.

[2016-01-10 21:16] #96 closed

[2016-01-10 21:16] #94 closed

[2016-01-10 21:17] #92 closed

[2016-01-10 21:17] #90 closed

[2016-01-10 21:17] #77 closed

[2016-01-10 21:43] JacksonGariety commented on #70
This is a nodemon bug.

Solution here: https://github.com/remy/nodemon/blob/master/faq.md#help-my-changes-arent-being-detected

[2016-01-10 21:43] #70 closed

[2016-01-10 21:50] JacksonGariety commented on #66
I'm using `gulp-file cache` for this one, for future reference.

What we could do is add some feature to `gulp-nodemon` and automatically forward cache info to the child process! So this is a feature request.

[2016-01-11 10:04] iliakan commented on #46
Indeed strange, there appears to be no need to depend on ^3 version of gulp.

[2016-01-17 18:59] radfahrer commented on #92
@goncaloneves , actually stack overflow pointed me at using `nodeargs` and that seem to work well while being less hacky. http://stackoverflow.com/questions/32751137/how-can-i-run-gulp-nodemod-in-debug-mode

[2016-01-29 15:44] zwhitchcox opened #102 "TypeError: Cannot read property 'sort' of undefined"
Having an error using nodemon with browser-sync
[code]

my gulpfile:

[code]

[2016-02-02 02:27] ORESoftware opened #103 "piping gulp nodemon output through Bunyan (or whatever)"
I am a big fan of gulp-nodemon, but I cannot figure out how to pipe it through Bunyan

I have to do this:

[code]

but I would rather do something like this:

[code]

with " | bunyan -l debug -o short" as some sort of argument using this:

[code]

I am just being stoopid and not using the right command or is there something else wrong?

[2016-02-03 00:57] JacksonGariety commented on #102
If you're using nodemon as a way to "start" the app and then immediately trying to "kill" it by calling `cb()` while gulp watch runs in the background you're misunderstanding the purpose of nodemon.

Assuming that's the case, you can solve your issue by getting rid of `gulp-watch` and adding this to your nodemon config

[code]

Or you can get rid of nodemon and use `gulp-bash` to start the app.

[2016-02-03 00:57] #102 closed

[2016-02-03 01:08] JacksonGariety commented on #103
Try this solution contributed by @markstos:

[code]

[2016-02-03 01:11] JacksonGariety commented on #103
But that is way too complicated. You should be able to do something like this:

[code]

[2016-02-03 01:42] ORESoftware commented on #103
ok thanks, yeah I have been struggling with it

[2016-02-08 12:40] subzworld opened #104 "gulp-nodemon goes in a loop"
Hi,
I've created a custom task in gulp that uses gulp-nodemon, however when I run the task and make any changes to my js file, the custom task goes in  a loop and keeps on calling the 'restart' event.
The script I have used is pasted below:

`gulp.task('test',function(){
    nodemon({
        script:'js/main.js',
        ext:'js',
        ignore:['./node_modules/**'],
        env:{
            POR

[2016-02-08 21:31] JacksonGariety commented on #104
The code you have looks fine to me.

Do the `lint`, `sass`, or `scripts` tasks call `test` by any chance? That would be an obvious one.

Otherwise you'll just have to take steps to debug:  Maybe try removing the `.on('restart')` event? Try removing the tasks altogether? Remove `env:`? Etc.

[2016-02-09 02:26] subzworld commented on #104
The tasks (lint, scripts etc) mentioned in task do not call test. I'll try removing the on 'restart' etc to debug and would let you know.

Thanks,
Subroto

On Mon, Feb 8, 2016 at 1:58 PM -0800, "G͔̟̭̈̃ͫͣͧ̿ͪ̈̂̊͆ͬͫͪ̊͠a̵̳͇̠̥̬̣̹̥̦̳̅ͩ͂̐ͤ̂ͨ͌r̳̦̗͖͓̥̼͙̭̩͍̹̫ͦ̍̾ͯ͒͘í͔͕̳͙̙ͨ͒́̑͐̆ͯ̑̌̍ͯ̈̐͜e̸͉͍͖̮̩̰͈̠̒ͦ̎͋ͮ̍ͭͬͬͤt̝͙͖̪͎̙̫̯̜̲̙̯͍͔ͣ̓̀ͯ͡y̳̜͖̭ͮ͛͗͗ͨ̊̈͒̉͊͐̈ͬ͛͟x̨͍̦̖̞̣͔ͮ̎̆̎͆̋̒ͧ͗͆ͤͣx̸̭̎̐ͨ̈ͯͯ͆͋̈̍ͧ̑ͭ́ͤͫͥx̼͕͎̪͈͙̉̿͗̈̂ͫ̉͑̂̒̅̆́" <no

[2016-02-12 05:28] RavenHursT opened #105 "gulp-nodemon watch w/ tasks doesn't seem to work"
I have the following task that I'm trying to use for development. I have two other tasks than I need run before `gulp-nodemon` starts and restarts my server process.

It STARTS just fine, but upon discovering a change in my /src file tree, the two tasks are run, but the node process never restarts and I never see my .on('restart') message fire. It then just hangs after the two other tasks complete

[2016-02-12 05:29] RavenHursT commented on #105
Relate SO: http://stackoverflow.com/questions/35355354/gulp-nodemons-watch-w-tasks-isnt-working

[2016-02-12 22:50] #104 closed

[2016-02-12 22:52] JacksonGariety commented on #105
Do `copy-assets` and `transpile` both return any streams inside of them as in [this example](https://github.com/JacksonGariety/gulp-nodemon#using-gulp-nodemon-with-react-browserify-babel-es2015-etc)?

[2016-02-13 00:42] RavenHursT commented on #105
Yes.. both do.. But they don't store the stream in a variable before returning.. not sure if that's a big diff:

[code]

the `transpile` task is very similar....

[2016-02-15 23:17] RavenHursT commented on #105
Turns out that I had another task that was loading a dependency that was opening a Redis connection and never closing that connection.  So the Node process wasn't closing, and therefor couldn't be restarted.  Closing this issue.

[2016-02-15 23:17] #105 closed

[2016-02-17 03:41] niftylettuce commented on #85
So how do we get `DEBUG=*` logs to show up for `nodemon({})`?  I tried `debug: true` option and `env: { 'DEBUG': '*' }` as well.

[2016-02-17 04:05] niftylettuce commented on #85
Nevermind, I had `stdout: false` :laughing:

[2016-02-19 19:55] andyday commented on #6
@JacksonGariety @remy any progress on this?  have 4 tasks each for a different app.  running just runs the last one 4 times...

[2016-02-22 23:59] ORESoftware opened #106 "support question - command to shutdown server, and relevant hook"
I am looking through the nodemon docs and I don't see a command to shutdown the server
For example, "rs" restarts the server

The reason control-c is not good for this is because I would like to use a hook to shut down a parallel socket.io server

so I am looking for something like this:

[code]

is this possible with the current version of gulp-nodemon?

[2016-02-25 01:57] JacksonGariety commented on #106
@ORESoftware have you tried using the `.on('exit')` and `.on('crash')` hooks in tandem?

[2016-02-25 07:49] ORESoftware commented on #106
I have not, will give that a spin thx
On Feb 24, 2016 5:57 PM,
"G͔̟̭̈̃ͫͣͧ̿ͪ̈̂̊͆ͬͫͪ̊͠a̵̳͇̠̥̬̣̹̥̦̳̅ͩ͂̐ͤ̂ͨ͌r̳̦̗͖͓̥̼͙̭̩͍̹̫ͦ̍̾ͯ͒͘í͔͕̳͙̙ͨ͒́̑͐̆ͯ̑̌̍ͯ̈̐͜e̸͉͍͖̮̩̰͈̠̒ͦ̎͋ͮ̍ͭͬͬͤt̝͙͖̪͎̙̫̯̜̲̙̯͍͔ͣ̓̀ͯ͡y̳̜͖̭ͮ͛͗͗ͨ̊̈͒̉͊͐̈ͬ͛͟x̨͍̦̖̞̣͔ͮ̎̆̎͆̋̒ͧ͗͆ͤͣx̸̭̎̐ͨ̈ͯͯ͆͋̈̍ͧ̑ͭ́ͤͫͥx̼͕͎̪͈͙̉̿͗̈̂ͫ̉͑̂̒̅̆́"
<notifications@github.com> wrote:

[2016-02-25 23:34] ORESoftware commented on #106
that seems to work, like so:

[code]

for some reason, I didn't need the close-socketio-server task before, but some newer version of some module now requires that I expliclity close socketio server, thanks!

[2016-03-03 21:37] snovak7 commented on #81
Also problem on Xubuntu 14.04 LTS, nodemon@1.9.1 installed globally with gulp aswell and Node v4.3.1. tasks option is "ignored".

It worked on latest OS X nodemon@1.7.1 and Node v4.1.2

[2016-03-04 17:35] lutfor3737 opened #107 "gulp-nodemon with es6"
how can i use gulp-nodemon with es6. i have all .js files under dist folder for transpile.

[2016-03-07 12:10] marzelin commented on #81
As robbie-c wrote three months ago, still doesn't work on Ubuntu when gulp not installed globally.

[2016-03-07 17:43] juergenzimmermann opened #108 "Make nodemon pluggable"
It would be nice to have nodemon pluggable. Then it would be be easy to upgrade to a newer nodemon version and stay with the current gulp-nodemon version.

[2016-03-10 16:57] jeromecovington opened #109 "App is being started twice"
Nodemon used via gulp-nodemon seems to be starting my app twice.

[code]

And:
[code]

[2016-03-10 18:36] jeromecovington commented on #109
This was an issue with my setup. I was called nodemon once to monitor it and do some shutdown tasks, and again to start the app. Closing.

[2016-03-10 18:36] #109 closed

[2016-03-10 21:53] JacksonGariety commented on #108
ah, this is a good idea! tagged enhancement.

[2016-03-10 21:53] JacksonGariety commented on #107
Check out the README: https://github.com/JacksonGariety/gulp-nodemon#using-gulp-nodemon-with-react-browserify-babel-es2015-etc

[2016-03-10 21:53] #107 closed

[2016-03-31 20:42] ORESoftware opened #110 "Support question - ignoring changes to any top level directory"
I have this:

[code]

In my project, however, the server code is not at the root, but at one level down.
So I am looking for some glob pattern that can ignore any changes to any directory in the root except the server directory, hope that makes sense. Is it possible to do this? What I am looking for is basically the opposite of "ignore" something positive instead of negative like "watch".

[2016-04-03 19:30] roymiloh opened #111 "running tasks through gulp.start"
Due the [current implementation](https://github.com/JacksonGariety/gulp-nodemon/blob/master/index.js#L80), those who try to develop, let's say, CLI that uses `gulp` internally, but the CLI itself runs inside a project that doesn't use `gulp`, the passed `tasks` are not available (there is not even a `gulpfile` in the 'client' project, which makes sense because it uses the CLI directly).

I'd sugge

[2016-04-08 06:55] waynecz opened #112 "how can I use gulp-nodemon with gulp-livereload?"
Hi, I wanna to refresh my browser after gulp-nodemon restart the node progress，and here is my gulpfile:

[code]

But everything is rigtht expect not reload the browser after nodemon.
Is there any problem I wrote cause this?

Thank you for the help!!

[2016-04-08 20:12] JacksonGariety commented on #110
You can use `"watch": []` and set it to an array of strings and use `../` in it to go up a directory and such.

[2016-04-08 20:13] JacksonGariety commented on #110
See: https://github.com/remy/nodemon/blob/master/doc/sample-nodemon.md

[2016-04-08 20:15] JacksonGariety commented on #111
@roymiloh `gulp.start` is going to be deprecated soon. Maybe it would be better to be able to provide a path to a local gulp rather than assuming a global one? Would that work for your purposes?

[2016-04-08 20:17] JacksonGariety commented on #112
Have you seen how people use gulp-nodemon with browser-sync?

https://github.com/JacksonGariety/gulp-nodemon#using-gulp-nodemon-with-browser-sync

I'm assuming gulp-livereload could be configured similarly.

[2016-04-12 08:30] linxixuan commented on #6
I need that!

[2016-04-12 08:33] remy commented on #6
I've not seen any pull requests for this feature yet, so I'm afraid I've not seen any progress on this yet. Will keep an eye out.

[2016-04-14 23:56] #112 closed

[2016-04-14 23:56] #111 closed

[2016-04-14 23:56] #110 closed

[2016-04-15 02:21] ORESoftware commented on #110
thanks Jackson, will follow that lead

[2016-05-05 06:05] firebait commented on #81
I'm having this problem on a MAC in both installed cases, locally or globally.

[2016-05-06 15:50] SolidSnakeBA commented on #81
Same problem inside a Docker container (node:4 and node:6). Installing gulp globally solved it

[2016-05-09 22:59] jbeckton opened #113 "browserSync.reload() not actually reloading browser"
I have gulp-nodemon set up pretty mush the same as the code sample and the browserSync.reload() does not reload the browser. After js or hbs file changes nodemon restarts node but browserSync is not reloading.

    gulp.task('serve-server', function (callback) {
          var called = false;
        return nodemon({
        // nodemon our expressjs server
        script: 'bin/www',
        env: {

[2016-05-11 02:48] deterralba commented on #33
Same here, workaround still works.

[2016-05-11 02:50] JacksonGariety commented on #33
@deterralba is this issue present in latest gulp-nodemon? workaround has been merged.

[2016-05-23 17:18] mqliutie opened #114 "restart Error: listen EADDRINUSE"
gulpfile.babel.js
[code]

And nodeOptions is
[code]
And function startServer is
[code]

When I change `src/server/route.js` , The error info as below :
[code]

**Please help me** to solve this issue.

Thank you very much!

[2016-05-24 04:29] mqliutie commented on #114
If I `process.kill(pid)`
[code]
One day this problem has troubled me .

Thanks again

[2016-05-24 09:13] mqliutie commented on #114
I removed `gulp-nodemon`

And :

`npm install -g nodemon && nodemon app.js`

It works well. So, do you have any idea to solve it?

THX

[2016-05-24 15:16] JustGoscha opened #115 "How to not start/restart anything after tasks run?"
I just want to recompile all my files, without restarting any script. How to achieve that?

[2016-05-25 13:08] #114 closed

[2016-06-04 00:00] #115 closed

[2016-06-04 00:00] JacksonGariety commented on #115
You can just use `gulp-start` after you've done your compilation.

[2016-06-04 00:01] #106 closed

[2016-06-04 00:01] #89 closed

[2016-06-04 00:02] #85 closed

[2016-06-05 07:42] ORESoftware commented on #89
yeah thanks

[2016-06-06 02:57] staff0rd commented on #50
I'd like to emit the 'restart' event to override the current crash functionality (which is to wait for a change to trigger a restart). Similar to the above comments I'm getting `nodemon.emit is not a function`.

[2016-06-06 02:57] JacksonGariety commented on #50
@staff0rd stack trace?

[2016-06-06 02:58] staff0rd commented on #50
[code]

[2016-06-06 03:00] JacksonGariety commented on #50
@staff0rd right. being able to add an emit method may be trivial, but at the time I don't have time to find out. :-(

I do have time to review a pull request, though! :-)

[2016-06-06 03:29] staff0rd commented on #50
I took a look at the source, and `emit()` is in fact being exposed.  In my case the error was specific to using gulp-load-plugins.  I was doing this;
[code]

when instead I should have been doing something like this;

[code]

Considering `emit` _is_ available, this issue should probably be closed...

[2016-06-30 09:02] bastianwegge commented on #6
Saw this on stackoverflow: http://stackoverflow.com/questions/34102947/gulp-run-multiple-node-scripts-in-parallel

Maybe this does the job?

[2016-07-08 16:04] aaronroberson opened #117 "DoS vulnerability"
Node Security (nodesecurity.io) is reporting a vulnerability with the minimatch package this module depends upon:

 https://nodesecurity.io/advisories/118

Please see https://github.com/gulpjs/gulp/issues/1719

[2016-08-08 15:02] jm-janzen commented on #68
Leaving a comment here, because it's a top Google search result for this issue.  My issue was not even related to Gulp, it turned out.

If you're using Vim as your editor, it seems `:w'  does not _always_ trigger a restart.  I had to enter `:e' to rebuffer the file, then subsequent changes were picked up with no problem.

[2016-08-08 16:57] JacksonGariety commented on #68
@jm-janzen are you running the latest version?

[2016-08-09 02:50] jswny opened #119 "Change babel example"
The example which provides sample code for using `gulp-nodemon` with "React, Browserify, Babel, ES2015, etc." uses the NPM package `gulp-file-cache` which is no longer under development (https://github.com/pgherveou/gulp-file-cache/issues/1). The example should be updated to use a package which is under active development.

[2016-08-09 15:01] jm-janzen commented on #68
@JacksonGariety Just checked, and no.  Was in fact running 1.0.5 explicitly!  Since changed that to 2.0.4, and am actively testing that atm.

[2016-08-22 07:47] IOAyman commented on #108
That would be great! :+1:

[2016-08-26 15:42] popasquat89 commented on #6
@remy Anything we can do to help this get along? Anyone running microservices would be very happy I'm sure!

[2016-08-26 15:43] remy commented on #6
Happy to accept a PR. Not sure what the root cause of the problem is, so
can't really direct.

On Fri, 26 Aug 2016, 16:42 Bryce Jacobs, <notifications@github.com> wrote:

[2016-09-19 17:02] darcusfenix opened #122 "SyntaxError: with -> .pipe(babel({ ... })) Unexpected token"
Hi, I have this issue with babel and es2015

[code]
My package.json

[code]
My .babelrc

[code]
And this is the error
[code]

[2016-09-24 17:14] juergenzimmermann commented on #108
@JacksonGariety do you see a chance for this issue?

[2016-09-25 20:34] IOAyman commented on #108
@juergenzimmermann I suggested a PR (#123) which resolves this.

Unfortunately, it seems like @JacksonGariety is not maintaining this plugin anymore (looking at his profile and response rate to issues and PRs) :disappointed:

However, if you still need that option, you can use [my fork](https://github.com/IOAyman/gulp-nodemon/tree/ioayman-pluggable-nodemon) :smiley:

[2016-09-25 20:59] JacksonGariety commented on #122
May be helpful to know what's in the `...` on line 13 if you'd still like help.

[2016-09-25 21:04] JacksonGariety commented on #108
@IOAyman Thanks for the PRs. Merged two and left a question for review on one.

I do my best to review important issues as they arise. Mostly I think that the plugin's purpose is rather niche and lots of people want it to solve a problem which nodemon solves by itself.

It also doesn't have a test suite which makes PR review difficult.

[2016-09-25 21:09] JacksonGariety opened #124 "Test Suite"
I'd like to test:

1. basic restart
2. absence double-restarting
3. wait for compilation before reload (synchronous build tasks)
4. listen for events
5. emit events

[2016-09-25 21:48] IOAyman commented on #108
@JacksonGariety You're welcome!
You're absolutely right! A test suite would help reviewing PRs a lot!

[2016-09-25 22:12] darcusfenix commented on #122
I'm using this example:
[example](https://github.com/JacksonGariety/gulp-nodemon#using-gulp-nodemon-with-react-browserify-babel-es2015-etc)

[2016-09-26 18:02] #50 closed

[2016-09-26 18:02] JacksonGariety commented on #50
Will go out with next release

[2016-09-26 18:25] JacksonGariety commented on #122
@darcusfenix you probably want to replace `...` with `presets: ['es2015']`

https://github.com/babel/gulp-babel

[2016-09-26 18:25] #122 closed

[2016-09-26 18:28] JacksonGariety commented on #117
Not sure there's a DOS vulnerability here.

[2016-09-26 18:28] #117 closed

[2016-09-26 18:29] JacksonGariety commented on #108
It's in

[2016-09-26 18:29] #108 closed

[2016-09-29 01:24] viglucci opened #125 "Error: Timeout must be a number!"
Updating to version 2.2.0 from ^2.0.2 causes the below error to be emitted constantly when watching with gulp-watch. Reverting to gulp-nodemon@2.1.0 seems to be working as expected.

I see that gulp-watch also published 4.3.10 (which we are running) the same day as gulp-nodemon@2.2.0, is this related?

[code]

[2016-09-29 05:23] JacksonGariety commented on #125
@viglucci would you mind posting the relevant lines from your Gulpfile?

[2016-09-29 05:51] JacksonGariety commented on #125
@IOAyman I think that the emit shim traded backward-compatibility with node's EventEmitter class (the `timeoutInSecs`). I'm going to revert it until we come up with a solution that won't break existing code.

I have a feeling that viglucci's code looks like this:

    stream.emit('event a', 'event b', 'event c')

[2016-09-29 10:02] IOAyman commented on #125
@JacksonGariety Noted. I'll push a quick fix in a PR

[2016-09-29 15:41] viglucci commented on #125
@JacksonGariety bumping to gulp-nodemon@2.2.1 seems to be working as expected.

Unfortunately I am not at liberty to share source, however we are using the `run-sequence` module to run a combination of tasks in series and in parallel that are separated into different module files. One of such task starts nodemon and exports a function which calls `require("event-stream").map(callback)` where callb

[2016-10-04 16:32] refaelos opened #127 "winston logs not shown"
Hey,

I'm using Winston as my logger. Is there a way to transport its logs into gulp-nodemon output ?

Thanks!

[2016-10-06 01:58] #125 closed

[2016-10-14 21:41] jayarjo opened #128 "Any way to conditionally cancel nodemon restart?"
Sometimes it might be handy to conditionally prevent `nodemon` from restarting, for example when `.js` files that nodemon is set to monitor, are transpiled from `.ts` by watcher. So basically even if only one TypeScript file is updated, transpiler alters several `js` files (or even all) and nodemon restarts for them all..? At least I observe multiple restarts in the console. Is there a way around

[2016-10-17 00:15] JacksonGariety commented on #128
Have you seen this example in the README?

    nodemon({
      script: './index.js'
    , ext: 'js css'
    , tasks: function (changedFiles) {
        var tasks = []
        changedFiles.forEach(function (file) {
          if (path.extname(file) === '.js' && !~tasks.indexOf('lint')) tasks.push('lint')
          if (path.extname(file) === '.css' && !~tasks.indexOf('cssmin')) tasks.push('cssmin')

[2016-10-18 23:56] #128 closed

[2016-10-19 04:07] andyfenelon opened #129 "not watching files recursively ?"
[code]

when i link to the file directly (as per the commented out line) it works.
when i try to watch the folder 'app/views' and then make changes it dosn't seem  to register anything ?

iv'e tried a few different combinations `'app/views/**/*'` `'app/views/*.hbs'`

it's showing on run that it should be ? using the above gulp task code

`[nodemon] watching: /Users/user/Documents/myapp/app/views/*

[2016-10-19 09:58] jayarjo commented on #128
Will it wait if task is async? What if `tasks` is set to empty array, will it prevent `nodemon` from restarting?

[2016-10-20 02:34] JacksonGariety commented on #129
I was unable to reproduce this :-/

Does nodemon respond /at all/ the way you have it? Or does nothing happen?

What happens if you remove the ignore?

[2016-10-20 02:51] JacksonGariety commented on #128
Expected behavior is that even if the task is async, so long as it returns its own stream (example here: https://github.com/JacksonGariety/gulp-nodemon#using-gulp-nodemon-with-react-browserify-babel-es2015-etc) nodemon will use `child_process.spawnSync` to wait until completion. This is basically gulp-nodemon's core feature.

If tasks is empty the restart should be immediate.

[2016-10-20 03:10] andyfenelon commented on #129
thank for taking the time to look.

it seems to be  when   `'app/views'` is included in the watch array it stops responding.

[code]

i do have partials in the folder so i removed them to test and its still occurring.

[2016-10-20 03:25] andyfenelon commented on #129
it might possibly be related to this https://github.com/gilt/koa-hbs/issues/52

[2016-10-20 03:44] andyfenelon commented on #129
ok all i need to do was add     `ext: 'hbs',`

thanks again. close.

[2016-10-20 03:44] #129 closed

[2016-11-03 00:54] Ekimoth commented on #33
November 2016 and this issue with gulp-nodemon still hasn't been fixed. What I just found by accident is that when you give nodemon the tasks array parameter, not only does it run those tasks, but also reruns your gulpfile.js script with all of its tasks again. So if you modify a file 10 times, you would need to use Ctrl+C 10 times to terminate all gulp instances created by gulp-nodemon.

[2016-11-05 22:18] JacksonGariety commented on #127
I haven't used winston, sorry.

[2016-11-30 18:34] richburdon commented on #24
I can't selectively ignore a sub folder that is being watched.

[code]

[2016-12-21 13:21] yashsriv commented on #46
One thing which needs to be done is add support for gulp 4 style tasks.. like
[code]

[2016-12-28 14:37] dmm opened #134 "Doesn't support locally installed gulp"
gulp-nodemon implements synchronously running tasks on restart by launching gulp using spawnSync:

[code]
When gulp is installed globally spawnSync finds gulp in the PATH and runs it but when gulp is locally installed in "node_modules/.bin/" spawnSync fails with ENOENT because it can't find gulp.

To me it seems like you want to always use the locally installed gulp, the same version you're using

[2017-01-07 05:17] enaeseth commented on #134
@dmm until #135 lands, the good news is that if you run gulp via `yarn run` or `npm run`, the local `node_modules/.bin` is placed at the beginning of `$PATH`, and the local gulp should be used anyway 😊

[2017-01-07 09:11] dmm commented on #134
That makes sense.  I was just confused as to why my tasks weren't running when manually running gulp.

Maybe the real issue is that not checking the return value of spawnSync ?

[2017-01-10 17:44] #134 closed

[2017-01-21 20:31] DeadcatDev opened #136 "Watch files in 'node_modules'"
I have case when i need to watch 1 directory in node_modules, let say 'aaa' folder.

My gulp-nodemon config looks like:
[code]

Nodemon gets changes in files in
[code]
 works, but really don't care about any changes in
[code]

Any idea?

[2017-01-24 13:54] szarouski commented on #113
https://github.com/JacksonGariety/gulp-nodemon/issues/88 suggests to use start instead.

[2017-02-03 16:57] mattkenefick commented on #6
Is this really still a thing?

[2017-02-03 17:10] brycejacobs commented on #6
@mattkenefick We ended up landing on using a library named "concurrently"

package.json example:

"scripts":{
  "server:one": "$(npm bin)/nodemon --watch services/one services/one",
  "server:two" "$(npm bin)/nodemon --watch services/two services/two",
  "start:dev": "$(npm bin)/concurrently \"npm run server:one\" \"npm run server:two\""
}

[2017-02-06 17:19] jwickens commented on #77
The following works pretty well for me:
[code]

[2017-02-18 17:00] henioStraszny commented on #46
Hello,

I've just tested with gulp 4.0 and it seams to work correctly with following setup:

[code]

[2017-03-01 03:53] huanganqi opened #137 "how to add --debug?"
[11:46:27] [nodemon] starting `node ./index.js`

= to =>

[11:46:27] [nodemon] starting `node --debug ./index.js`

====

nodemon({
    script: './index.js',
    stdout: true,
    //debug: true, ???
})

[2017-03-22 13:07] benjamin21st commented on #24
You can watch individual files as well.

[2017-03-27 06:30] #137 closed

[2017-04-24 20:12] zantinger opened #138 "Not watching on hbs-files"
Hi. I use handlebars as my template engine. When I start gulp-nodeman to watch my files, it will only fires on files with ext js or html. I added hbs to ext but it won't work. Any idea?
[code]

[2017-04-26 15:22] andrewgbliss opened #139 "using --inspect crashes on restart"
Here is my nodemon gulpfile.

`
gulp.task('start:dev', done => {
  let started = false;
  nodemon({
    script: path.join(__dirname, 'index.js'),
    ext: 'js json',
    nodeArgs: ['--inspect=0.0.0.0:9229'],
    watch: path.join(__dirname, 'express'),
    legacyWatch: true,
    delay: 2000
  })
  .on('start', () => {
    // to avoid nodemon being started multiple times
    if (!started) {
      se

[2017-05-09 02:48] henrytseng opened #140 "Multiple restarts on each file save"
Looks like simple implementation of if causing multiple server restarts on each save.

    script: 'server.js',
    tasks: ['lint', 'test'],
    ext: 'js',
    watch: [
      'app/',
      'config/',
      'lib/',
      'test/'
    ],
    env: process.env
  });

[2017-05-21 03:35] jerossh commented on #137
[code]

[2017-05-24 12:13] dannyhuly opened #141 "gulp-nodemon passing node cli arguments in quotes"
Hi,

I'm having troubles passing cli arguments to through gulp-nodemon to node.

I would like to pass the `filters` argument and get the following when nodemon runs ` node tmp/ --filters test ` .
But I'm getting the `filters` in quotes (` node tmp/ "--filters test" `) for the following task

[code]

gulp log:
[code]

The node code can't handle the quotes and just passes over the arguments.
Any ide

[2017-06-13 00:48] arshdkhn1 opened #142 "restart handler never fires!"
Hi, this is my gulp code. `restart` event never fires even when I change the server.js file. If I remove the start event then restart event fires up. I want to reload browser when any changes are made in server.js file. Please help me to find out what's wrong.

[code]

[2017-06-15 09:36] rluncasu commented on #139
Same here, I'm starting it with
[code]
inside a container based on
[code]
with a shared volume on sources. Whenever I save a file on the sources volume, nodemon restarts but crashes with
[code]

Re-saving the same file, again restarts but works ok this time.

[2017-06-24 19:10] jawetzel opened #143 "Linux"
Is there a way to tell gulp-nodemon that we are on linux and need sudo?

[2017-06-27 14:18] kirla3092 commented on #6
I found a work around using just Gulp:

Created a Task and an Internal Task for each nodemon usage:
GIST: https://gist.github.com/kirla3092/71b6f2e982343135fcc0ab3d360d5ac5

Maybe this helps someone.
Know problem: "rs"-Command is not working. But this should be possible to solve.

[2017-07-14 14:09] jac0117 opened #144 "nodejs gulp-nodemon stuck after upgrading from node 4.8.3 to node 6.11.0"
I have multiple node apps which I am running at once using using async. Basically I have an array of directories ['app-a', 'app-b', 'app-c'] For each directory I run the default gulp task for the corresponding gulp file.

`async.each(repos, gulpDefault, cb);`

The default gulp task in each projects uses gulp-nodemon to start the app

[code]
When I select just one project to run, then the apps star

[2017-07-16 00:34] heinhoang opened #145 "gulp-nodemon + browser-sync loading very slow"
"gulp-nodemon": "^2.2.1"
"browser-sync": "^2.18.12"
"gulp": "^3.9.1

gulpfile.js
[code]
It's loading too low before render a page.
Here's the output on console:
[code]

[2017-07-19 19:57] #144 closed

[2017-07-28 09:43] megakoresh commented on #139
Yeah same problem, using sails here + nodemon. Doing the following:
`nodemon --inspect app.js`
produces
`error: Gulp :: Starting inspector on 127.0.0.1:9229 failed: address already in use`
As the error shows up before any tasks are even attempted, I think this must be a deeper issue.

[2017-07-30 11:41] ashblue opened #146 "No gulpfile found error"
Whenever I use tasks as so I get the error `No gulpfile found` with gulp-nodemon when the server refreshes. Looks like nodemon is looking for my gulpfile in the wrong place perhaps? I have my gulpfile in a nested directory and running via `gulp --gulpfile dist/gulp/index.js --cwd .`.

[code]

[2017-08-09 09:10] danmademe commented on #117
Even if you don't think there's an issue here, it still fails NSP and nodesecurity.io because you have outdated packages.

if you want i can take over this package and update it.. since it's been dead along time

[2017-08-09 09:14] danmademe commented on #117
@aaronroberson you should be putting gulp packages in your dev-deps

[2017-08-21 08:44] yujiahaol68 commented on #139
Just kill inspector and start inspector again
here is our team's solution in our `package.json`
The same in gulp task. You have to kill it first..

[code]

[2017-08-25 14:17] amack459 commented on #145
Did you ever figure out the problem? I'm having the same issue.

[2017-08-26 00:26] heinhoang commented on #145
hey @amack459, yes, I figured out why it is:
I use mongoose connect `mongoose.connect(url)` and it works asynchronously.
After gulp-nodemon finished it's tasks but mongoDb has not finished the connection yet so it's loading and loading.
Then, after MongoDb connection finished but gulp-nodemon doesn't know about that and it continues loading.

[2017-08-26 01:25] heinhoang commented on #145
Solution #1 is that: You can setTimeout() to wait for a few seconds before starting browser-sync task.
Solution #2: may be better
// Step #1: Write a logging file to inform connection finished
[code]
// Step #2: watch the log file and start browser-sync
gulp.task('log:watch', (cb) => {
    gulp.watch('./dbConnection.log', () => {
        let called = false;
        if (!called) {
            cb();

[2017-08-30 13:49] poonam-dev commented on #139
![error](https://user-images.githubusercontent.com/31477765/29875542-fba09e32-8db7-11e7-9bc5-42701b61e86d.png)

please solve this

[2017-08-30 13:54] yujiahaol68 commented on #139
Please try not to use nodemon to enable debug mode. Try to use `node --inspect=...`

[2017-08-30 14:21] poonam-dev commented on #139
![error1](https://user-images.githubusercontent.com/31477765/29877211-9d580b76-8dbc-11e7-9552-7b841e562774.png)

now generate this error

[2017-08-30 14:24] poonam-dev commented on #139
for put  node --inspect=... at the place of nodemon --debug

[2017-09-20 08:52] mjy78 commented on #6
I had the same problem (attempting to start two instances of nodemon from gulp) and found a fairly simple solution with the [gulp-multi-process](https://github.com/juanfran/gulp-multi-process) plugin.

Create a separate task for each instance of nodemon you wish to start...

[code]

...then create a single task to launch them using gulp-multi-process...

[code]

You can even include one instance o

[2017-10-15 15:38] ashblue commented on #146
I wrote a command that fixes this issue. Currently the problem is the child process spawning doesn't support additional Gulp arguments. Adding these with a flag such as `options.argsAdditional = [arg1, arg2, arg3]` would solve the issue.

Example temporary shim.

[code]

[2017-12-05 09:06] ibqn opened #147 "Maintenance"
Is this a dead project?

[2017-12-05 09:49] ibqn commented on #29
@JacksonGariety I still have this issue with `"gulp-nodemon": "^2.2.1"` exactly as @LabiKyo described.

[2018-01-25 10:11] BrightShadow commented on #90
Hi, I will refresh the discussion. I have nodemon 1.14.11, gulp-nodemon 2.2.1, and I had same issue.
What fixed it for me was to add `ext: 'ts scss html json js'` to nodemon options, like this:
[code]

And suddenly started working. In my opinion this is a bug, watch should watch all '*' without any extention set. Such example without extensions are on gulp-nodemon github page, where I found it. 👎

[2018-01-30 15:33] love2dishtech commented on #85
When we are trying to run it using VSCode using a launch configuration, it starts the gulp task in the inspect mode, which binds it to a random port. However, when we have the --inspect in the gulp task, it binds it to a new different random port. This does not allow the VSCode to track the code. Any particular solution for this ?

[2018-01-30 15:38] love2dishtech opened #148 "Using Gulp nodemon with the VSCode inspector."
I am trying to figure out the VSCode launch configuration for launching a gulp task in the inspect mode. The gulp task internally transpiles the code and runs the process via gulp-nodemon. Example is given as below:

VSCode Launch script:
[code]

Gulp Task:
[code]

In the above configuration, the VSCode launches the gulp task with the inspect mode binding to a random port. However the gulp task it

[2018-02-04 17:33] paglias opened #149 "Publish 2.3.0 to NPM"
The git repo says 2.3.0 but it's not available on npm

[2018-03-22 15:10] naorzr commented on #138
use $nodemon filename.js **-e hbs**
should do the trick

[2018-03-28 08:50] rejas commented on #138
HI @zantinger cannot reproduce your error. Is it still an issue for you? Could you test again with the latest gulp-nodemon version?

[2018-04-02 06:40] peeyushsrivastava commented on #139
Actually it's getting started in background so you need to search for process which you have tried to run with command like nodemon --inspect app.js , so check if node server is running or not.

ps ax | grep node

then killall -9 node and then try this command and it will work.

[2018-05-06 13:43] wzup commented on #139
@yujiahaol68

[2018-05-31 09:10] rejas commented on #149
Or 2.4.0 for that matter @JacksonGariety Adding a release / tag in guthub would also already be helping.
Thanks for coming back and merging anyway!

[2018-06-18 09:33] Robinfr commented on #139
No solution for this? It's really annoying as you don't even get output anymore when it fails..

[2018-06-25 01:56] joebowbeer commented on #149
Please publish 2.4.0

[2018-06-27 08:39] eseliger opened #153 "Remove dependency on gulp"
As per gulp plugin guidelines, there should be no dependency on gulp itself, for a good reason. So removing it as a dependency and adding it as a devDependency should be viable in my opinion. I can open a PR with this if you agree

[2018-08-01 11:35] lacivert opened #156 "delay"
There is an option on nodemon for delay;

How can we use this delay option in gulp-nodemon? I want to put delay time between code-change and restart.

I tried on options like `nodemonOptions={delay:2}` but it doesn't work.

[2018-08-20 14:55] mikemaccana commented on #149
Heya! can you please do an `npm publish`? Thanks!

[2018-09-03 21:44] techsin commented on #148
same problem

[2018-09-12 16:03] AmenRa opened #157 "npm audit report"
How can i fix these issues?
Can you update dependancies?

Thank you!

<img width="733" alt="screen shot 2018-09-12 at 17 59 57" src="https://user-images.githubusercontent.com/11797097/45437786-d98c8180-b6b5-11e8-8278-606de6740272.png">

<img width="729" alt="screen shot 2018-09-12 at 18 00 21" src="https://user-images.githubusercontent.com/11797097/45437806-e4471680-b6b5-11e8-8f98-7a25c090c827.png

[2018-09-13 14:32] gabinho5 commented on #157
It seems that the master branch gulp dependency has already been updated to gulp: "^4.0.0" which should resolve the issue, but the update needs to be released! @JacksonGariety Could you publish the newest version?

[2018-09-13 16:44] JemiloII commented on #157
Waiting for this as well :)

[2018-09-13 16:48] JemiloII commented on #153
@eseliger gulp should be a peer dependency as the package requires it, however, as a peer dependency, we can update the module with our own security updates as needed.

[2018-09-13 17:16] eseliger commented on #153
If I get your point correctly, you are worried about using the wrong version of gulp with this plugin? If not, please correct me.
If that is what you are saying, you can always define a range of valid gulp versions compatible with gulp-nodemon
So you can still ensure gulp being the version you want it to be 🤔

[2018-09-15 18:20] bennyn opened #158 "Ctrl + C doesn't exit process started by gulp-nodemon"
I am using `gulp-nodemon` to start a Node.js server and to watch code changes that I make to it.

When I start my gulp task it works as expected until I hit `Ctrl + C` to end my gulp task. The task is then ended but the server (started by nodemon) is still running in the background.

What do I need to do to automatically close it?

Here is my task definition:

[code]

My setup:
- "gulp": "4.0.0"
-

[2018-09-15 18:37] bennyn commented on #158
I can see that the code makes use of [spawnSync](https://nodejs.org/api/child_process.html#child_process_child_process_spawnsync_command_args_options) which is called the following way:

https://github.com/JacksonGariety/gulp-nodemon/blob/1a31fa251ede2a59100fa8349a89113ad7de105b/index.js#L104

To make `Ctrl + C` work for Windows, you need to pass `shell: true` as an option to `spawnSync`.

More in

[2018-09-20 07:44] kkoyot commented on #157
+1, it's just a matter of creating a new tag and publishing to npm. Can we count on you, @JacksonGariety ?

[2018-09-25 19:08] JemiloII commented on #157
So I did a little more poking around. gulp 4 isn't quite ready as it has some breaking changes from the 3.9.1 release. Probably better to wait until gulp is 4.0.0, plus, minimatch isn't an issue unless your having user supplied data in your gulp build process. If you do, I'd recommend you'd fix that~

[2018-09-28 09:37] joebowbeer commented on #157
Depends on #149

[2018-10-01 02:27] joebowbeer commented on #157
@JemiloII gulp 4 has been released via the @next tag.

[2018-10-02 01:46] taylorgoolsby opened #160 "Gulp tasks are restarted multiple times, once for each file."
Have a basic setup like this:
[code]

Then switch to a different branch, or change many files all at the same time while the `gulp-nodemon` watcher is running.

This will trigger [the original nodemon restart event ](https://github.com/JacksonGariety/gulp-nodemon/blob/master/index.js#L32) to be called once for each file changed. This in turn will cause [the run function](https://github.com/Jackson

[2018-10-02 13:03] gwhitelaw commented on #149
Hi @JacksonGariety - any update on publishing?

[2018-10-02 14:51] joebowbeer commented on #149
In the interim, the latest commit can be installed from GitHub:

`npm install -D jacksongariety/gulp-nodemon#1a31fa2`

[2018-10-04 01:13] SenP commented on #139
This seems to be an irritating bug with no clear solution yet

[2018-10-05 05:30] BrightShadow commented on #156
I'm joining the question. Need this option too...

[2018-10-12 07:35] taylorgoolsby commented on #160
Just realized this isn't necessary. Instead use [delay](https://www.npmjs.com/package/nodemon#delaying-restarting)

[2018-10-12 07:35] #160 closed

[2018-10-22 17:15] chriskinsman commented on #46
Have this same issue using tasks to kick off lint

In addition I am seeing that the restart event is never emitted so I can't use that as an alternative in #1a31fa2

Specifically when I hit 'rs' to restart the task

[2018-10-24 13:06] hadifarnoud commented on #157
updates? shall I remove gulp-nodemon until release?

[2018-10-24 14:39] markstos commented on #147
@rejas He hasn't been active for several months. At this point, I think it's best if the project is forked and move there without his involvement, which the open source license allows. The only thing we can't do is to upload to the `gulp-nodemon` namespace, without intervention from the NPM organization. We could still upload to a new namespace, like `gulp4-nodemon`.

[2018-10-24 14:41] markstos commented on #147
@rejas Are interested in taking the lead on this? Just now I tried Googling "Jackson Gariety" for an alternate contact method and he seems to dropped off the internet in the last year.

[2018-10-24 14:45] markstos commented on #149
@joebowbeer  -- @JacksonGariety has been inactive for months. The project likely needs a fork and a new maintainer at this point. see  #147 for more discussion.

[2018-10-24 14:49] joebowbeer commented on #147
I recently received an email from the maintainer. Based on that, I expect 2.4 to be published in a few weeks.

[2018-10-24 17:13] rejas commented on #147
In case @JacksonGariety doesnt want to maintain it, I'd still be willing to take over and keep the project up-to-date.

[2018-11-01 15:15] JemiloII commented on #157
@joebowbeer just because it has a `@next` doesn't mean its ready. If it was, it wouldn't be next but the stable release.

[2018-11-03 00:07] #158 closed

[2018-11-03 00:10] JacksonGariety commented on #149
Sorry for the delay. I have published `2.4.1`.

[2018-11-03 00:10] #149 closed

[2018-11-09 13:09] logictuLuoqi opened #162 "Task never defined"

[2018-11-10 13:50] logictuLuoqi commented on #162
It has been solved.
exports.ejs = ejs;
exports.ejs = server;

[2018-11-26 19:59] jrwiegand opened #163 "Critical Vulnerability"
A critical vulnerability has popped up today with `event-stream`, can this be updated ASAP?

### Related links:
- https://www.npmjs.com/advisories/737
- https://github.com/dominictarr/event-stream/issues/116
- https://github.com/remy/nodemon/issues/1469

### NPM Audit
[code]

[2018-11-27 17:15] yoelfme commented on #163
any update about this?, is going to be really helpful, please, merge the PR :+1:

[2018-11-27 20:58] aal89 commented on #163
Yeah, but which one? Mine or @sebaplaza's one?

I might be missing something but I am not trusting @right9ctrl right now. So I followed advise and not updated to version 4 of `event-stream`, instead pinned it to version 3.3.4 so that all malicious version in peoples cache also gets flushed. This also means my PR is of lowest impact.

Not sure which one is better tho. Do people have any ideas on wh

[2018-11-27 21:34] yoelfme commented on #163
@aal89 yours, because the recommended action is update `event-stream` to `3.3.4`, so your PR makes the same thing that people in `ps-tree` did https://github.com/indexzero/ps-tree/pull/34/files, go ahead!

[2018-11-27 21:37] sebaplaza commented on #163
@aal89 i agree with you, the v4 was possibly created to hide the old malicious code.

anyways, the v4 also add the flatmap function (a clean one).
https://github.com/dominictarr/event-stream/commit/908fee5c65d4eb02809a84a1ebc3e5df1f935cd1

and flatmap-stream dependency has been removed
https://github.com/dominictarr/event-stream/commit/2bd63d58fe24367372690c29c7249ed1c7145601

@right9ctrl user doe

[2018-11-27 21:41] joebowbeer commented on #157
Fixed by v2.4.1 release

[2018-11-27 21:42] joebowbeer commented on #162
@logictuLuoqi this issue should be closed?

[2018-11-27 21:55] yoelfme commented on #163
so the final PR will include lock the `event-stream` package and upgrade `nodemon`?

[2018-11-28 01:34] aflext commented on #163
Why haven't this issue been solved? So many days have past

[2018-11-28 07:43] aal89 commented on #163
I have updated my PR removing the `event-stream` dependency entirely and also updated `nodemon` to `1.18.7`. The test ran fine(?). Why was it being used in the first place?

[2018-11-28 08:39] sebaplaza commented on #163
you're right @aal89, `event-stream` is not being used at all. So, if @JacksonGariety is ok, we should remove `event-stream` dependency.

looking at the source, the module `colors` is useless too.

i think this project needs a clean up.

about your PR, i think you should commit `package-lock.json` too, as a good practice.

[2018-11-28 08:44] aal89 commented on #163
Yeah you're right, this project could use cleaning. Right now I'm going to stay focussed on this issue alone. I will update the PR and include the `package-lock.json` too. Thanks for the feedback!

[2018-11-28 13:23] sebaplaza commented on #163
Well, this is not anymore a vulnerability, as you know `event-stream@3.3.6` has been unpublished.
This means that gulp-nodemon is actually **broken**.

Well, as a workaround, you can use @aal89 version...

[code]

[2018-11-28 16:13] jrwiegand commented on #163
I am not sure if others have reached out to @JacksonGariety but he seems quite unresponsive. I think the workaround may be the best bet for the near-future. I hope that I am wrong.

[2018-11-28 17:06] simison commented on #163
2-3 days to respond isn't that long time to wait in open source world, especially in the middle of the week. ;-)

Pinged directly at https://github.com/JacksonGariety/gulp-nodemon/pull/164#issuecomment-442464510

[2018-11-30 04:42] binarykitchen commented on #163
yeah come on, it's important - waiting here too!

[2018-11-30 05:14] #163 closed

[2018-12-03 03:46] logictuLuoqi commented on #162
yes

[2018-12-04 05:00] binarykitchen commented on #163
Looks like it's done but not on npm yet ... publish it now?

[2018-12-04 15:47] jrwiegand commented on #163
@binarykitchen Version 2.4.2 is the fixed version and that version is published to npm.

See here: https://www.npmjs.com/package/gulp-nodemon

@JacksonGariety Has not yet created a 2.4.2 release on GitHub.

[2018-12-05 04:42] binarykitchen commented on #163
well @jrwiegand, `yarn outdated` gives me a different version:

[code]

Why it is suggesting `exotic` over `2.4.2` and why is the URL pointing to a fork, from github:aal89/gulp-nodemon?

[2018-12-06 14:05] jrwiegand commented on #163
@binarykitchen I do not use yarn and cannot speak to the reason that package would be outdated there. It is clearly available in npm's registry as I comment above.

[2018-12-19 07:10] cdeepakait opened #167 "tasks: function (changedFiles) is getting onnly single file as changedFiles instead of array of changed files"
[code]
Log after i change 3 files.

Loading DEVELOPMENT Configuration
info: NODE_ENV:  development
info: Express server started on port 3000 at 0.0.0.0; Worker PID: 17120
DB Connection OK
[12:34:10] [nodemon] files triggering change check: backend\heml-templates\REPORT.heml
[12:34:10] [nodemon] matched rule: C:\Codebase\code\backend/**/*
[12:34:10] [nodemon] changes after filters (before/after): 1

[2019-01-03 20:05] marcosmartinez7 opened #168 "Update versions of event stream cause trojan"
Detected this issue today

![image](https://user-images.githubusercontent.com/14795944/50658699-eee52e80-0f78-11e9-980e-a13c14d3de32.png)

The problem is related to this: https://medium.com/intrinsic/compromised-npm-package-event-stream-d47d08605502

I check who is including that library and i found this:

![image](https://user-images.githubusercontent.com/14795944/50658763-2653db00-0f79-11e9-8068

[2019-01-04 18:49] marcosmartinez7 commented on #168
So, i submitted the same issue into nodemon, they said that the package.lock isnt including this version, so i think that the issue is with your library guys

https://github.com/remy/nodemon/issues/1498

Can you take a look at this?

[2019-01-04 19:58] marcosmartinez7 commented on #168
Seems that i was using a older version of nodemon.

https://github.com/remy/nodemon/issues/1498

[2019-01-04 19:58] #168 closed

[2019-01-28 00:49] binarykitchen opened #169 "Recipe for linting a single file change"
Figuring out a simple solution how to lint a file that has changed recently with standardjs very easily. Without additional packages.

Has anyone such a recipe and is willing to add it to Readme? Thanks heaps

[2019-01-28 00:51] binarykitchen commented on #169
To clarify, I do not want to install the gulp-standard package but to call it directly with `standard --verbose changedFile.js`

[2019-02-03 00:32] kpfromer commented on #156
This would solve some issues I am encountering with gulp v4.

[2019-02-11 13:22] darryldaniel commented on #46
@fishen This above didn't work for me. Eventually the only thing that worked is to define tasks as so:
`task('compile', compile /* The compile function */);`
and then reference in the **tasks** array in nodemon.
However, gulp has stated that this is not the recommended way to do this any longer. @JacksonGariety would it be possible to let tasks take in an array of functions or the newly defined se

[2019-02-12 02:11] fishen commented on #46
what's trouble with u? Is there some error message? please check version of gulp and upgrade it to the latest version.

[2019-02-13 22:36] warnero commented on #46
@fishen I too had to use the old style gulp tasks to get this to work properly. See below.
`function watch(done) {
    let stream = nodemon({
        script: 'dist/bin/www', // run ES5 code
        ext: 'js json',
        ignore: 'dist',
        watch: watchFiles, // watch ES2015 code
        tasks: ['nodemon-compile', 'nodemon-copyToDist'], // compile synchronously onChange
        done: done,

[2019-06-20 15:47] mikemaccana opened #170 "Unneccessary restarts due to old chokidar bug"
Just upgrade nodemon, and therefore chokidar. See https://github.com/remy/nodemon/issues/1208

[2019-12-04 15:10] alumni commented on #170
Big BUMP!

[2019-12-19 15:02] ianbytchek opened #175 "Problems with gulp 4 watch"
I found quite a few watch-related issues, unfortunately none helped me with my case. I noticed several problems:

1. When stopping the task with <key>Control+C</key> the script fails with the following error. If I remove `watchFiles` or `startNodemon/BrowserSync` tasks, everything works fine.

[code]

2. After trial and error I figured that if a callback gets passed/invoked in watch files task it

[2020-01-10 10:21] ronenteva opened #176 "Update nodemon to v2.x"
Any chance to update nodemon dependecy to v2?

Should not break anything except support for node@4
https://github.com/remy/nodemon/releases

[2020-01-29 16:00] ksr583 commented on #175
I'm seeing the same issues

[2020-03-04 08:54] #176 closed

[2020-03-04 08:55] JacksonGariety commented on #170
Updated

[2020-03-04 08:55] #170 closed

[2020-03-04 08:56] JacksonGariety commented on #157
Audited.

[2020-03-04 08:56] #157 closed

[2020-03-31 03:03] Extarys commented on #175
Same issue, I included the versions I use. Sad, it's a pain to start node after every changes :cry:

[code]
**Packages:**
"gulp-nodemon": "^2.5.0",
"gulp": "^4.0.2",
**Node version:** v12.16.1

Task
[code]

[2020-04-08 13:19] anhpham1509 opened #177 "Ability to config custom gulpfile path for running tasks"
Currently, the gulpfile needs to be in root directory no matter what. Otherwise, it's reporting No gulpfile found.

I'd suggest to have additional configurations for gulp command when running tasks.

[2021-07-15 06:52] deepakb2410 opened #182 "npm audit - Vulnerabilities Observed in dependent package"
┌───────────────┬──────────────────────────────────────────────────────────────┐
│ Moderate      │ Regular expression denial of service                         │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ glob-parent                                                  │
├───────────────┼───────────────────────────────────────────────────────────

[2022-01-17 13:02] MaximeMaillet commented on #141
Hi, try to put one args by item in args array.

[code]

[2022-01-17 13:13] MaximeMaillet commented on #156
Hi, all options pass to gulp-nodemon(settings) are transmitted on nodemon(settings)

[code]

Delay should be a number in milliseconds